/*	Galaxy V Specific Style
	======================================================================================== */

.galaxy-v.safari {

	// Log in Page
	.login {
		&-form {
			.form-text {
				padding: 8px 8px 5px 40px;
				height: auto;
				line-height: normal;
			}
		}
	}

	// Checkbox
	.ez-checkbox {
		.ez-hide {
			margin-right: 2px;
		}
	}

	// Settings Page
	.ez-checkbox-iphone {
		background: none;
		
		.ez-hide {
			opacity: 1;
		}
	}


	// Arrow for Select element
	.select {
		position: relative;
		display: inline-block;

		&:before {
			position: absolute;
			right: 6px;
			top: 10px;
			content: "";
			@include triangle(bottom, 4px, #fff);
		}

		select {
			height: 25px;
			line-height: 25;
			text-indent: 1px;
		}
	}

	.form-item .select {
		display: block;
	}

	//Toll Fee Lightbox
	.fancybox-close {
		background: #8c0101;
		color: #af0000;
		width: 24px;
		height: 25px;
		font-size: 22px;
		text-decoration: none;
		font-weight: bolder;
		line-height: 1;
		text-indent: 0;
		&:after {
			content: "x";
		}
	}

}

// Chrome and Safari
.galaxy-v.safari,
.galaxy-v.chrome {

	// Fancybox
	.fancybox-opened .fancybox-skin {
		@include border-radius(0);
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}

	// closing the menu will cause the content above the full menu
	@include media("<tablet") {
		.menubile-bound .menubile-nav-open {
			// z-index: 5 !important;
		}
	}

}

/*	Ipad Specific Style
	======================================================================================== */