button,
input,
select,
textarea {
    margin: 0;
    padding: 6px 8px;
    border: none;
    font-size: 12px;
    vertical-align: middle;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
                    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

select {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

option {
    color: #000;
}

.form-item {
    @extend .clearfix;
    margin-bottom: 12px;
}

.form-action {
    margin-bottom: 20px;
}

.form-horizontal .form-label {
    float: left;
}

.form-horizontal .form-field {
    float: left;
}

.form-vertical .form-label {
    width: 100%;
}

.form-vertical .form-field {
    width: 100%;
}

// Error notification/messages
.login-error,
.login-form span.error {
    color: #ff9939;
}

.login-error {
    margin-top: -38px;
    margin-bottom: 10px;
    text-align: center;

    .icon-login-error {
        display: none;
    }
}

.login-form .error {
    display: block;
    margin-top: 5px;
    margin-bottom: -5px;
}

.webform-client-form {
    .contact-container {
        padding: 0 20px;
        label {
            @extend .element-invisible;
        }

        span.error {
            @extend .block;
            margin-top: 5px;
            margin-bottom: -5px;
            color: $contact-us-error-message-color;
        }

        select,
        textarea,
        input.form-text {
            @extend .input-block-level;
        }

        #edit-actions {
            @extend .text-center;
        }
    }
}
.captcha {
    position: relative;
    .description {
        @extend .element-invisible;
    }
    img {
        position: absolute;
        left: 54%;
        height: 26px;
        width: 30%;
    }
    .reload-captcha-wrapper {
        a {
            position: absolute;
            right: -13px;
            @include iconify-text($sprite, -100px, -1180px, 41px, 41px);
        }
    }

    #edit-captcha-response {
        width: 50%;
    }
}