// Inherits from _logo.scss

.login {
    &-logo,
    &-logo span {
        width: 242px;
        height: 56px;
    }

    &-logo {
        margin: 60px auto 20px;
    }

    @include media("landscape", "<tablet") {
        &-logo {
            margin-top: 50px;
        }
    }

    @include media("portrait", ">=360px", "<tablet") {
        &-logo {
            margin-top: 120px;
        }
    }

    @include media(">=tablet") {
        &-logo {
            float: none;
            margin-top: 280px;
        }
    }

    @include media("landscape", ">=tablet") {
        &-logo {
            margin-top: 180px;
        }
    }
}