.social {
    margin: 10px 0 0;
    padding: 0;
    list-style-type: none;

    li {
        display: inline;
    }

    a {
        margin: 0 2px;
        color: #6d6d6d;        
        font-size: 30px;
        &:hover {
            color: #03111f;
        }
    }
}

.social a {
    font-size: 20px;
    color: $default-link-color;
    &:hover {
        color: #03111f;
    }
}