// .header,
// .logo a,
// .navobile-link {
// 	@include transition(all .3s);
// }

.header.sticky,
.view-games .view-header.sticky {
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 150;
	width: 100%;
}