@import 'global/common';

// Section/Components
@import 'components/logo-intro';
@import 'components/language-selector';

body {
    background-color: #af0000;
}

.language-selector {
	margin-top: 100px;

	@include media("landscape", "<600px") {
        margin-top: 40px;
    }
}

.login {

    &-logo {
        @include media("landscape", "<600px") {
            margin-top: 50px;
        }
    }
}