.account {
    position: absolute;
    top: 10px;
    right: $side-gap;
    width: 90px;
    text-align: right;
    letter-spacing: -0.25px;

    @include media(">=tablet") {
    	top: 8px;
    	width: 120px;
    }

    &-user {
        display: block;
    }
}