.game-list {
    $thumb-width: 146px;
    $thumb-container-width: $thumb-width * 2;
    $thumb-gap: 10px;
    $thumb-gap-half: $thumb-gap/2;

    $tablet-thumb-width: 170px;
    $tablet-thumb-container-width: $tablet-thumb-width * 4;
    $tablet-thumb-gap: 20px;
    $tablet-thumb-gap-half: $tablet-thumb-gap/2;

    ul {
        @extend .clearfix;
        width: $thumb-container-width + ($thumb-gap * 2);
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }

    li {
        float: left;
        width: $thumb-width;
        margin: 0 $thumb-gap-half $thumb-gap $thumb-gap-half;
    }

    a {
        color: #e5c99b;
        font-size: 14px;
        text-decoration: none;
    }

    img {
        width: 100%;
        margin-bottom: 3px;
        border: 1px solid #e5c99b;
    }

    span {
        display: block;
    }

    @include media(">=480px", "<tablet") {
        ul {
            width: ($thumb-width * 3) + ($thumb-gap * 3);
        }

        li {
            width: $thumb-width;
            margin: 0 $thumb-gap-half $thumb-gap $thumb-gap-half;
        }
    }

    @include media(">=tablet") {
        ul {
            width: $tablet-thumb-container-width + ($tablet-thumb-gap * 4);
        }

        li {
            width: $tablet-thumb-width;
            margin: 0 $tablet-thumb-gap-half $tablet-thumb-gap $tablet-thumb-gap-half;
        }
    }
}