.language-lightbox {
    width: 264px;
    border: 4px solid #750101;
    background-color: #af0000;
    color: #fff;

    ul {
        margin-bottom: 0;
        padding-left: 0;
    }

    li {
        display: inline;
    }

    a {
        display: block;
        height: 38px;
        line-height: 38px;
        padding: 0 10px 0 60px;
        border-bottom: 1px solid #750101;
        background: #af0000 url('../images/sprite.png') no-repeat;
        color: #fff;
        text-decoration: none;

        &:hover {
            background-color: #750101;
        }
    }

    .en a {
        background-position: 7px -1514px;
    }

    .zh-hans a {
        background-position: 7px -1574px;
    }
}