/*	Base Rules
	======================================================================================== */
body {
	margin: 0;
	padding: 0 0 30px;
	background: #2b2b2b url(../images/bg_body.jpg) no-repeat center top;
	font: normal 13px/20px "Trebuchet MS", Helvetica, sans-serif;
	color: #2b2b2b;
	text-decoration: none;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

a {
	color: #af0000;
	text-decoration: none;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	    -ms-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

a:focus {outline: none;}

a:hover {}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, menu {
	margin: 0 0 19px;
}

h2, .h2 {font-size: 24px;}
h3, .h3 {font-size: 15px;}
h4, .h4 {font-size: 14px;}
h5, .h5 {font-size: 13px;}
h6, .h6 {font-size: 12px;}

html, button, input, select, textarea {
	color: #222;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #e1e1e1;
	margin: 45px 0;
	padding: 0;
}

/* Remove the gap between images and the bottom of their containers */
img {vertical-align: middle; max-width: 100%;}

/* Remove default fieldset styles */
fieldset {border: 0; margin: 0; padding: 0;}

/* Allow only vertical resizing of textareas */ 
textarea {resize: vertical;}

/* Placeholder */
::-webkit-input-placeholder	{color: #838282;}
:-moz-placeholder			{color: #838282;}
::-moz-placeholder			{color: #838282;}
:-ms-input-placeholder		{color: #838282;}

ul,
ol {
	padding-left: 20px;
}

ul ol,
ol ul {
	margin-bottom: 0;
}

.unstyled {
	list-style-type: none;
}

.main-content li {
	padding-left: 15px;
}


/*	Helper Clasess
	=================================== */

/* Clearfix: contain floats */
.clearfix:before,
.clearfix:after	{content: " "; display: table;}
.clearfix:after	{clear: both;}
.clearfix		{*zoom: 1;}

.clear			{clear: both;}

.hide-text		{font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0;}

.element-hidden {display: none;}

.pull-left		{float: left; display: inline;}
.pull-right		{float: right; display: inline;}

.text-left		{text-align: left;}
.text-right		{text-align: right;}
.text-center	{text-align: center;}

.mb0  {margin-bottom: 0 !important;}
.mb10 {margin-bottom: 10px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb50 {margin-bottom: 50px !important;}
.mt0  {margin-top: 0 !important;}
.mt10 {margin-top: 10px !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mt40 {margin-top: 40px !important;}
.mt50 {margin-top: 50px !important;}

.arrowed-link {
	text-align: right;
}

.arrowed-link a {
	color: #000;
	font-weight: bold;
}

/* Buttons */
.btn {
	display: inline-block;
	vertical-align: middle;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	width: 88px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border: 1px solid #fff0b9;
	background-color: #fe9c03;
	background-image: -webkit-linear-gradient(top, #f8ce38, #fe9c03);
	background-image:    -moz-linear-gradient(top, #f8ce38, #fe9c03);
	background-image:     -ms-linear-gradient(top, #f8ce38, #fe9c03);
	background-image:      -o-linear-gradient(top, #f8ce38, #fe9c03);
	background-image:         linear-gradient(top, #f8ce38, #fe9c03);
	color: #0f0f0f;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

input.btn {
	height: 25px;
	line-height: normal;
	cursor: pointer;
}

.btn:hover {
	text-decoration: none;
	background-color: #f8ce38;
	background-image: -webkit-linear-gradient(top, #fe9c03, #f8ce38);
	background-image:    -moz-linear-gradient(top, #fe9c03, #f8ce38);
	background-image:     -ms-linear-gradient(top, #fe9c03, #f8ce38);
	background-image:      -o-linear-gradient(top, #fe9c03, #f8ce38);
	background-image:         linear-gradient(top, #fe9c03, #f8ce38);
}

.btn-highlight {
	border-color: #b40001;
	background-color: #8f0100;
	background-image: -webkit-linear-gradient(top, #af0001, #8f0100);
	background-image:    -moz-linear-gradient(top, #af0001, #8f0100);
	background-image:     -ms-linear-gradient(top, #af0001, #8f0100);
	background-image:      -o-linear-gradient(top, #af0001, #8f0100);
	background-image:         linear-gradient(top, #af0001, #8f0100);
	color: #fff;
}

.btn-highlight:hover {
	background-color: #b10001;
	background-image: -webkit-linear-gradient(top, #8f0100, #af0001);
	background-image:    -moz-linear-gradient(top, #8f0100, #af0001);
	background-image:     -ms-linear-gradient(top, #8f0100, #af0001);
	background-image:      -o-linear-gradient(top, #8f0100, #af0001);
	background-image:         linear-gradient(top, #8f0100, #af0001);
}

.btn-large {
	width: 145px;
	height: 38px;
	line-height: 38px;
	font-size: 19px;
}

.btn-largest {
	width: 177px;
	height: 47px;
	line-height: 47px;
	font-size: 28px;
}

.btn-large,
.btn-largest {
	border-radius: 2px;
}

/* Icons */

[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	vertical-align: middle;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	width: 27px;
	height: 17px;
	line-height: 17px;
	vertical-align: middle;
	background-image: url(../images/sprite.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.icon-arrow-right {
	width: 7px;
	height: 8px;
	line-height: inherit;
	background-position: -60px -60px;
}

.icon-arrow-back {
	width: 8px;
	height: 10px;
	line-height: inherit;
	background-position: -80px -60px;
	margin: -3px -2px 0 0;
}

.icon-flag-uk {
	width: 27px;
	height: 17px;
	line-height: 17px;
	background-position: 0 -60px;
}

.icon-email {
	width: 30px;
	height: 19px;
	line-height: 19px;
	background-position: -520px -260px;
}

.icon-bubble {
	width: 30px;
	height: 27px;
	line-height: 27px;
	background-position: -600px -260px;
}

.icon-phone {
	width: 23px;
	height: 27px;
	line-height: 27px;
	background-position: -560px -260px;
}

.icon-mobile {
	width: 19px;
	height: 28px;
	line-height: 28px;
	background-position: -640px -260px;
}

.icon-email-boxed {
	width: 41px;
	height: 41px;
	line-height: 41px;
	background-position: -400px -300px;
}

.icon-phone-boxed {
	width: 41px;
	height: 41px;
	line-height: 41px;
	background-position: -460px -300px;
}

.icon-bubble-rounded,
.icon-email-rounded,
.icon-facebook-rounded,
.icon-twitter-rounded,
.icon-phone-rounded,
.icon-hand-rounded {
	width: 41px;
	height: 41px;
	line-height: 41px;
}

.icon-bubble-rounded	{background-position: -400px -360px;}
.icon-email-rounded		{background-position: -460px -360px;}
.icon-facebook-rounded	{background-position: -520px -360px;}
.icon-twitter-rounded	{background-position: -580px -360px;}
.icon-phone-rounded		{background-position: -640px -360px;}
.icon-hand-rounded		{background-position: -700px -360px;}

/*	Layout Rules
	======================================================================================== */

.header .grid_9 {
	margin-right: 0;
	margin-left: 10px;
}

.main {
	margin-bottom: 24px;
	background-color: #fff;
}

.main-content {
	padding-left: 5px;
	margin-right: 0;
}

.main-content-inner {}

.main-content-padding {
	padding: 0 20px;
}

.footer {
	clear: both;
}

/*	Module Rules
	======================================================================================== */

.logo {margin: 0;}
.logo a {
	float: left;
	display: inline;
	width: 240px;
	height: 56px;
	margin: 22px 0 0 -5px;
	background: url(../images/sprite.png) no-repeat;
}

.top-link {
	margin: 7px 0 10px;
	padding-left: 0;
	list-style-type: none;
}

.top-link li {
	display: inline;
}

.top-link a {
	margin-right: 20px;
	color: #fff;
	font: 11px Verdana, Geneva, sans-serif;
}

.top-link a:hover {
	color: #fbb821;
}

.form-login {
	
}

.form-login .field {
	width: 123px;
	margin-right: 6px;
	padding: 5px 8px;
	border: none;
	color: #212121;
	font: 12px Verdana, Geneva, sans-serif;
	vertical-align: middle;
}

.form-login .btn {
	font-weight: normal;
}

.form-login input.btn {
	margin-right: 5px;
}

.form-login .login-issue {
	margin-left: 160px;
	color: #fff;
	font: 10px Arial, Helvetica, sans-serif;
}

.nav-bar {
	margin: 20px 0;
	border: 1px solid #fff;
	background-color: #cacaca;
	background-image: -webkit-linear-gradient(top, #efefef, #b3b3b3);
	background-image:    -moz-linear-gradient(top, #efefef, #b3b3b3);
	background-image:     -ms-linear-gradient(top, #efefef, #b3b3b3);
	background-image:      -o-linear-gradient(top, #efefef, #b3b3b3);
	background-image:         linear-gradient(top, #efefef, #b3b3b3);
}

.nav {
	margin-left: 0;
}

.nav ul {
	float: left;
	margin: 0;
	padding-left: 0;
	border-right: 1px solid #fff;
	list-style-type: none;
	overflow: hidden;
}

.nav li {
	float: left;
	display: inline;
}

.nav a {
	display: inline-block;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	height: 39px;
	line-height: 39px;
	padding: 0 18px;
	border-right: 1px solid #808080;
	border-left: 1px solid #fff;
	color: #0d233a;
	font-size: 18px;
}

.nav li:first-child a {
	border-left: none;
}

.nav a:hover {
	background-color: #2e6a11;
	color: #fff;
	text-decoration: none;
}

.lang ul {
	position: absolute;
	top: 7px;
	right: 0;
	width: 120px;
	padding: 1px 10px;
	margin: 0;
	background-color: #2b2b2b ;
	list-style-type: none;
}

.lang ul:after {
	position: absolute;
	top: 7px;
	right: 9px;
	content: " ";
	display: block;
	width: 12px;
	height: 10px;
	background: url(../images/sprite.png) -40px -60px;
}

.lang li {
	z-index: 1;
	height: 17px;
	margin: 3px 0;
	font: 12px Verdana, Geneva, sans-serif;
	cursor: pointer;
}

.lang a {
	color: #e6e6e6;
}

.nav-secondary {
	margin-bottom: 10px;
	background-color: #363536;
	color: #fff;
}

.nav-secondary ul {
	padding-left: 0;
	list-style-type: none;
}

.nav-secondary li {
	display: inline;
}

.nav-secondary a {
	float: left;
	display: inline;
	padding: 5px 18px;
	color: #fff;
}

.nav-secondary a:hover {
	color: #fbb821;
}

.nav-secondary .active a {
	background-color: #fff;
	color: #0d233a;
	font-weight: bold;
}

.sidebar .block {
	clear: both;
	margin: 0 5px 10px -15px;
}

.sidebar .block h2 {
	margin: 0;
	zoom: 1;
	padding: 5px 0;
	background-color: #2e6a11;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.sidebar .content {
	padding: 10px;
	background-color: #2b2b2b;
	color: #fff;
}

.sidebar .block-total-jackpot {
	width: 350px;
	height: 99px;
	margin-left: -25px;
	background: url(../images/sprite.png) no-repeat -260px 0;
}

.sidebar .block-total-jackpot h2,
.sidebar .block-total-jackpot .content {
	background: none;
}

.sidebar .block-total-jackpot h2 {
	padding-top: 10px;
	color: #000;
	position: relative;
}

.sidebar .block-total-jackpot .num {
	margin: 16px 0 0 35px;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 15px;
	text-shadow: 2px 2px 2px #000;
}

.sidebar .block-jackpots {

}

.sidebar .block-jackpots .content {
	padding: 0 0 5px;
}

.sidebar .block-jackpots h2 {
	width: 346px;
	height: 42px;
	line-height: 37px;
	margin: 0 0 0 -8px;
	padding: 0;
	background: url(../images/sprite.png) no-repeat 0 -420px;
	color: #191919;
}

.sidebar .block-jackpots ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.sidebar .block-jackpots li {
	height: 48px;
	line-height: 48px;
	padding: 0 10px;
	border-bottom: 1px solid #232323;
	border-top: 1px solid #4c4a4a;
	font-size: 18px;
}

.sidebar .block-jackpots .first {
	border-top: none;
}

.sidebar .block-jackpots .last {
	border-bottom: none;
}

.sidebar .block-jackpots .game-name {
	float: left;
	width: 145px;
}

.sidebar .block-jackpots .ticker {
	float: right;
	width: 160px;
	text-align: right;
}

.block-promotion p {
	margin-bottom: 0;
}

.block-promotion h4 a {
	color: #fff;
}

.block-promotion h4 a:hover {
	color: #fbb821;
}

.big-winner {
	margin: -10px;
	padding: 2px 0 0;
	list-style-type: none;
	font-size: 15px;
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
}

.big-winner li {
	padding: 2px 15px;
	border-bottom: 1px solid #232323;
	border-top: 1px solid #4c4a4a;
	overflow: hidden;
}

.big-winner li:first-child {
	border-top: none;
}

.big-winner li:last-child {
	border-bottom: none;
}

.big-winner a {
	color: #fff;
}

.big-winner a:hover {
	color: #fbb821;
}

.big-winner-price {
	float: left;
	display: inline;
	width: 125px;
	font-weight: bold;
}

.big-winner-name {
	float: left;
	display: inline;
}

.big-winner-game {
	float: right;
	display: inline;
}

.block-support .content {
	padding: 10px 0;
}

.block-support .chat {
	display: block;
	width: 330px;
	height: 105px;
	margin: -10px 0 10px;
	background: url(../images/sprite.png) no-repeat -60px -300px;
	font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; /* hide the text */
}

.block-support .contact-list {
	margin: 0 0 0 63px;
	padding-left: 0;
	list-style-type: none;
}

.block-support .contact-list li {
	margin-bottom: 6px;
	overflow: hidden;
}

.block-support .contact-list li:first-child {
	line-height: 40px;
}

.block-support .contact-list a {
	color: #fff;
}

.block-support .contact-list a:hover {
	color: #fbb821;
}

.block-support .contact-list span {
	float: left;
	display: inline;
	margin-right: 5px;
}
.block-featured ul {
	margin: 0 -2px 0 -8px;
	padding-left: 0;
	list-style-type: none;
	overflow: hidden;
}

.block-featured li {
	position: relative;
	float: left;
	display: inline;
	width: 152px;
	height: 177px;
	margin-bottom: 8px;
	margin-left: 8px;
}

.block-featured img {
	position: absolute;
	border: 1px solid #999;
}

.block-featured .btn {
	position: relative;
	top: 137px;
	display: block;
	margin: 0 auto 0;
}

.block-featured .first {
	width: 311px;
	height: 144px;
}

.block-featured .first img {
	width: auto;
}

.block-featured .first .btn {
	top: 102px;
	left: 80px;
}

.sidebar .more-text {
	height: 29px;
	line-height: 29px;
	margin: 10px -10px -10px;
	padding-right: 10px;
	border: 1px solid #151515;
	border-top: 1px solid #4c4a4a;
	background: url(../images/more-link-texture.gif) repeat-x;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
}

.sidebar .more-text a:hover {
	color: #fff;
}

.categories {
	clear; both;
	margin: 10px;
	padding: 10px 0;
	background-color: #e6e6e6;
	line-height: normal;
}

.categories section {
	margin-right: 22px;
}

.categories section:first-child {
	/*margin-left: -10px;*/
}

.categories section:last-child {
	/*margin-right: -10px;*/
}

.categories h3 {
	margin-bottom: 0;
	font-size: 13px;
}

.categories ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

.categories li {

}

.categories a {
	color: #2b2b2b;
}

.categories a:hover {
	color: #fbb821;
}

/* Media */
.media,
.media-body {
	overflow: hidden;
	*overflow: visible;
	zoom: 1;
	font-size: 12px;
	line-height: 15px;
}

.media,
.media .media {
	margin-top: 16px;
}

.media:first-child {
	margin-top: 0;
}

.media-object {
	float: left;
	display: inline;
	margin-right: 5px;
	border: 1px solid #999;
}

.media-object-alt {
	float: right;
	display: inline;
	margin-left: 30px;
}

.media-heading {
	margin: 0;
	font-size: 14px;
}

.game-list {
	margin: 0 0 0 -10px;
	padding-left: 0;
	list-style-type: none;
	overflow: hidden;
}

.game-list li {
	float: left;
	display: inline;
	width: 183px;
	margin: 0 0 10px 10px;
	padding: 1px 7px 10px;
	background-color: #191919;
}

.game-list a {
	color: #fff;
}

.game-list .btn {
	display: block;
	margin: 0 auto;
	color: #0f0f0f;
}

.game-list-name {
	display: block;
	margin-bottom: 8px;
}

.game-list-object {
	
}

.game-list-body {
	position: relative;
	display: block;
	margin-top: -7px;
	text-align: center;
}

.game-list-body .btn {
	margin-bottom: 5px;
}

.promo-item {
	position: relative;
	width: 630px;
	margin-bottom: 10px;
}

.promo-item-object {
	
}

.promo-item-body {
	position: absolute;
	top: 35px;
	right: 15px;
	float: right;
	display: inline;
	width: 265px;
	color: #fff;
	font-size: 12px;
	line-height: 18px;
}

.promo-item-heading {
	margin-bottom: 8px;
	color: #e5e5e5;
	font: bold 38px/35px "Myriad Pro", Helvetica, Arial, sans-serif;
}

/* .promo-item-heading span {
	background: url(../images/text_gradient.png) repeat-x;
	position: absolute;
	display: block;
	width: 100%;
	height: 26px;
} */

.promo-item .btn {
	position: absolute;
	bottom: 35px;
	right: 15px;
}

.game-banner {
	position: relative;
	width: 630px;
	margin-bottom: 20px;
}

.game-banner-object {
	
}

.game-banner-body {
	position: absolute;
	top: 106px;
	right: 18px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.game-banner-body .btn {
	margin-bottom: 5px;
}

.game-banner-body span {
	display: block;
}

.modal-welcome {
	display: none;
	width: 455px;
	position: relative;
	color: #808285;
	font: 12px/20px Arial, Helvetica, sans-serif;
	text-align: center;
	overflow: hidden;
}

.modal-welcome :before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: " ";
	display: block;
	width: 1px;
	height: 295px;
	margin-top: -147px;
	background: url(../images/sprite.png) no-repeat -40px -80px;
}

.modal-welcome .col-one {
	float: left;
	display: inline;
	width: 184px;
}

.modal-welcome .col-two {
	float: right;
	display: inline;
	width: 184px;
}

.modal-welcome h4 {
	font-size: 16px;
}

.modal-welcome .col-one h4 {
	margin-bottom: 42px;
}

.modal-welcome p {
	margin-bottom: 16px;
}

.modal-welcome .field {
	width: 172px;
	padding: 4px 5px;
	border: 1px solid #3c3d3d;
	color: #727273;
	background-color: #222;
	background-image: -webkit-linear-gradient(top, #141414, #242424);
	background-image:    -moz-linear-gradient(top, #141414, #242424);
	background-image:     -ms-linear-gradient(top, #141414, #242424);
	background-image:      -o-linear-gradient(top, #141414, #242424);
	background-image:         linear-gradient(top, #141414, #242424);
}

.modal-welcome input[type="submit"] {
	margin: 10px 0;
}

.modal-welcome .btn {
	font-weight: normal;
}

.modal-welcome .field,
.modal-welcome .btn {
	border-radius: 3px;
}

.modal-welcome .col-one a {
	color: #808285;
}

.modal-welcome .message {
	margin-top: -14px;
	margin-bottom: 0;
	color: #ffe000;
	font-size: 10px;
}

.modal-welcome .join-img {
	width: 127px;
	height: 98px;
	margin: 0 auto 24px;
	background: url(../images/sprite.png) no-repeat -620px 0;
}


/* Contact */
.contact-option {
	list-style-type: none;
	padding-left: 0;
	font-size: 14px;
	line-height: 18px;
}

.contact-option li {
	position: relative;
	min-height: 41px;
	height:auto !important;
	height: 41px;
	margin-bottom: 17px;
	padding-left: 47px;
}

.contact-option span {
	position: absolute;
	top: 0;
	left: 0;
}

.contact-option select {
	width: auto;
}

.contact-option .one-liner {
	line-height: 41px;
}

/* Clearfix */
.contact-option li:before,
.contact-option li:after	{content: " "; display: table;}
.contact-option li:after	{clear: both;}
.contact-option li			{*zoom: 1;}

/*	General Footer Style
	=================================== */

.footer,
.footer a {
	color: #fff;
}

.footer a:hover {
	color: #fbb821;
}

/* Footer Navigation */
.nav-footer {
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}

.nav-footer li {
	display: inline-block;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	height: 11px;
	line-height: 11px;
	padding: 0 10px;
	border-left: 1px solid #fff;
}

.nav-footer li:first-child {
	border-left: none;
}

.nav-footer a {
	text-transform: uppercase;
}

/* Partners */
.partner-primary,
.partner-secondary,
.partner-tertiary {
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}

.partner-primary li,
.partner-secondary li,
.partner-tertiary li {
	display: inline;
}

.partner-primary li a,
.partner-secondary li a,
.partner-tertiary li a {
	display: inline-block;
	vertical-align: middle;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; /* For hiding text */
}

.partner-secondary li a {
	margin: 0 2px;
}

.partner-tertiary li a {
	margin: 0 3px;
}

.aston a		{width: 225px; height: 77px; background-position: -60px -100px;}
.everton a		{width: 232px; height: 73px; background-position: -300px -100px; margin: 0 76px 0 58px;}
.egaming a		{width: 207px; height: 59px; background-position: -540px -100px;}

.jbc a			{width: 33px; height: 24px; background-position: -60px -180px;}
.skrill a		{width: 61px; height: 21px; background-position: -100px -180px;}
.asiapay a		{width: 136px; height: 20px; background-position: -180px -180px;}
.neteller a		{width: 97px; height: 19px; background-position: -320px -180px;}
.click2pay a	{width: 111px; height: 20px; background-position: -420px -180px;}
.webmoney a		{width: 91px; height: 25px; background-position: -540px -180px;}
.ecashasia a	{width: 89px; height: 29px; background-position: -640px -180px;}
.paybay a		{width: 91px; height: 26px; background-position: -60px -220px;}
.paysafecard a	{width: 108px; height: 20px; background-position: -160px -220px;}
.asianteller a	{width: 89px; height: 17px; background-position: -280px -220px;}

.firstcagayan a	{width: 96px; height: 35px; background-position: -380px -220px;}
.ceza a			{width: 88px; height: 30px; background-position: -480px -220px}
.oneworks a		{width: 103px; height: 26px; background-position: -580px -220px}
.playtech a		{width: 126px; height: 28px; background-position: -80px -260px;}
.ipoker a		{width: 128px; height: 30px; background-position: -220px -260px;}

.footer-info {
	font-size: 12px;
	line-height: 15px;
	text-align: justify;
}

.footer-info p {
	margin-right: 35px;
}

.social {
	margin: 0 0 20px 40px;
	padding-left: 0;
	list-style-type: none;
	overflow: hidden;
}

.social li {
	display: inline;
}

.social a {
	float: left;
	display: inline;
	width: 32px;
	height: 30px;
	margin-left: 10px;
	background: url(../images/sprite.png) no-repeat;

	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.social .facebook a			{background-position: -360px -260px;}
.social .twitter a			{background-position: -400px -260px;}
.social .google a			{background-position: -440px -260px;}
.social .youtube a			{background-position: -480px -260px;}

.partner-primary li a:hover,
.partner-secondary li a:hover,
.partner-tertiary li a:hover,
.social a:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}

.contact-icons {
	padding-left: 0;
	list-style-type: none;
	font-size: 11px;
}

.contact-icons.pull-left {
	clear: left;
	width: 174px;
}

.contact-icons.pull-right {
	width: 146px;
}

.contact-icons.pull-right li:first-child {
	line-height: normal;
}

.contact-icons li {
	height: 38px;
	line-height: 20px;
}

.contact-icons span {
	float: left;
	display: inline;
	margin-right: 5px;
}

.contact-icons a {
	
}

.copyright {
	clear: both;
	margin-bottom: 0;
	text-align: center;
}

/*	CSS for Plugins
	======================================================================================== */

/* Fancybox */
.fancybox-skin {
	padding: 25px 40px !important;
	border: 3px solid #fff;
	background-color: #191919;
}
.fancybox-close {
	top: -15px;
	right: -15px;
	width: 27px;
	height: 27px;
	background: url(../images/sprite.png) no-repeat -160px -60px;
}


/* Collapsibble */
.collapsible {
	height: 30px;
	line-height: 30px;
	margin: 0 0 0 -20px;
	background-color: #7c7a7a;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, #7f7f7f, #666);
	background-image:    -moz-linear-gradient(top, #7f7f7f, #666);
	background-image:     -ms-linear-gradient(top, #7f7f7f, #666);
	background-image:      -o-linear-gradient(top, #7f7f7f, #666);
	background-image:         linear-gradient(top, #7f7f7f, #666);
}

.collapsible span {
	float: left;
	display: inline;
	width: 15px;
	height: 16px;
	margin: 7px 5px 0 20px;
	background: url(../images/sprite.png) no-repeat -100px -60px;
}

.collapse-open span {
	background-position: -120px -60px;
}

.collapsible-content {
	padding: 10px 0 0;
}

.no-cssgradients .collapsible {
	border-bottom: 1px solid #8d8d8d;
}


/* Slider */
.slider {
	clear: both;
	margin: 0;
	top: -13px;
	z-index: 1;
	margin-bottom: -3px;
	padding-left: 0;
	list-style-type: none;
}

.slider li {
	padding-left: 0;
}

.slider .btn {
	position: absolute;
	bottom: 30px;
	left: 47px;
}

.slider-nav {
	position: relative;
	top: 8px;
	left: 11px;
	z-index: 1000;
}

.slider-nav a {
	float: left;
	display: inline;
	width: 13px;
	height: 13px;
	margin-right: 2px;
	background: url(../images/sprite.png) no-repeat -140px -60px;
	font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; /* hide the text */
	position: relative;
}

.slider-nav a:hover {
	opacity: .7;
}

.slider-nav .activeSlide {
	background-position: -140px -80px;
}


.idTabs {
/* idTabs */
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	overflow: hidden;
}

.idTabs li {
	display: inline;
	padding-left: 0;
}

.idTabs a {
	float: left;
	display: inline;
	width: 125px;
	height: 30px;
	border-left: 1px solid #fff;
	background-color: #ccc;
	color: #191919;
	font: 15px/30px "Myriad Pro", Helvetica, Arial, sans-serif;
	text-align: center;
}

.idTabs li:first-child a {
	border-left: none;
}

.idTabs .selected {
	background-color: #2e6a11;
	color: #fff;
}

.tab-content {
	width: 619px;
	/*min-height: 637px;*/
	padding: 10px 0 0 10px;
	background-color: #2e6a11;
	color: #fff;
}

/* Modal - Light Color */
.modal-light {

}

.modal-light h2 {
	font-size: ;
}

/*	Fixes
	======================================================================================== */

/* IE 7 and below */

.lt-ie8 .block-promotion .content,
.lt-ie8 .block-featured .content	{padding-bottom: 0;}

.lt-ie8 .block-featured .content	{padding-left: 0;}
.lt-ie8 .block-featured ul			{margin-left: 0;}
.lt-ie8 .block-featured li			{margin-left: 8px;}
.lt-ie8 .block-featured .more-text	{margin-left: 0;}

.lt-ie8 .block-support .content		{padding-top: 1px;}

.lt-ie8 .sidebar .more-text			{margin-bottom: 0;}

.lt-ie8 .tab-content				{padding-bottom: 10px;}

.lt-ie8 .promo-item-body			{width: 270px;}

.lt-ie8 .icon-arrow-back			{margin: 1px 2px 0 0;}


/* IE6 */
.lt-ie7 .logo a,
.lt-ie7 .block-support .chat,
.lt-ie7 .modal-welcome .join-img,
.lt-ie7 .partner-primary li a span,
.lt-ie7 .partner-secondary li a span,
.lt-ie7 .partner-tertiary li a span,
.lt-ie7 .social a					{text-indent: -9999px;}

.lt-ie7 .main-content				{margin-right: -10px;}
.lt-ie7 .sidebar					{width: 335px; margin-left: 0; margin-right: 0; padding: 0;}
.lt-ie7 .main-content-inner			{position: relative;}

.lt-ie7 .sidebar .block				{clear: both;}
.lt-ie7 .sidebar .content			{clear: both; padding-left: 10px; padding-right: 10px;}

.lt-ie7 .block-total-jackpot		{margin-left: -10px; margin-right: 0;}
.lt-ie7 .block-support .chat		{margin: 0 0 0 15px; padding: 0;}
.lt-ie7 .block-support .content		{margin: 0; padding: 0;}

.lt-ie7 .sidebar .media,
.lt-ie7 .sidebar .big-winner-price	{padding-left: 15px;}

.lt-ie7 .icon-arrow-right,
.lt-ie7 .icon-arrow-back,
.lt-ie7 .icon-flag-uk,
.lt-ie7 .icon-email,
.lt-ie7 .icon-bubble,
.lt-ie7 .icon-phone,
.lt-ie7 .icon-mobile,
.lt-ie7 .icon-email-boxed,
.lt-ie7 .icon-phone-boxed			{display: inline-block; zoom: 1; *display: inline; background-image: url(../images/sprite.png); background-repeat: no-repeat;}

.lt-ie7 .sidebar .more-text			{margin-bottom: 0; line-height: 29px;}
.lt-ie7 .sidebar .more-text span	{vertical-align: ; margin-top: 8px;}

.lt-ie7 .contact-icons.pull-left	{width: 178px; margin-left: -20px;}
.lt-ie7 .contact-icons.pull-right	{width: 155px;}

.lt-ie7 .block-support .contact-list {padding-top: 10px; padding-bottom: 10px;}
.lt-ie7 .block-support .contact-list li {clear: both;}

.lt-ie7 .idTabs						{margin-left: -1px;}

