// Resonsive Design Break Points
$mobile-breakpoint:  		0;
$mobile-medium-breakpoint:  360px;
$tablet-breakpoint:     	768px;

// Overall Layout
$container-max-width:	inherit;
$side-gap:				15px; // Container left/right space/gap
$side-gap-addition:		5px; // Additional gap for larger screen sizes

// Default Fonts
$default-font-family:		"Trebuchet MS", Arial, Helvetica, sans-serif;
$default-code-font-family:	'courier new', monospace, serif;

// Font Size Defaults
$default-font-size:   12px;
$default-line-height: normal;

$h1: 16px;
$h2: 14px;
$h3: 13px;
$h4: 12px;
$h5: 12px;
$h6: 12px;

// Colors:
// yellow		=	#ffe000
// orange		=	#ff9939
// beige		=	#e5c99b
// red			=	#af0000
// dark red		=	#750101
// light gray	=	#f2f2f2
// white		=	#fff
// black		=	#000

$default-font-color:			#fff;
$default-heading-color:			#e5c99b;
$default-link-color:			#e5c99b;
$default-link-color-hover:		#ffe000;
$default-bg-color:				#750101;  // background-color for <body> element
$default-button-color:			#ffe000;
$default-button-hover-color:	#fff935;
$sitewide-border-color:			#e5c99b;
$default-hr-border-color:		$sitewide-border-color;

// Miscellaneous
$sprite:						'../images/sprite.png';
$default-element-margin-bottom:	15px; // h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, form, menu

// form Elements
$input-color-placeholder:		#999 !default;

// Header
$header-mini-bg:				#af0000;

// Navigation
$navobile-width:					270px;
$navobile-font-color:				#fff;
$navobile-font-color-hover:			#af0000;
$navobile-background-color:			#af0000;
$navobile-background-color-hover:	#e5c99b;
$navobile-border-color:				#750101;
$navobile-submenu-color:			#e5c99b;
$navobile-submenu-bg-color:			#5e0202;

// Tab
$tab-color:						#2a2a29;
$tab-bg-color:					transparent;
$tab-highlight-color:			$tab-color;
$tab-highlight-bg-color:		$tab-bg-color;
$tab-content-color:				$tab-color;
$tab-content-bg-color:			#ececec;


//Page 404
$page-404-heading-color:						#ffe000;
$page-404-link-color:							#750101;
$page-404-border-color:							#750101;
$page-404-portrait-mobile-background:			'../images/portrait-404-background-mobile.png';
$page-404-landscape-mobile-background:			'../images/landscape-404-background-mobile.png';
$page-404-portrait-tablet-background:			'../images/portrait-404-background-tablet.png';
$page-404-landscape-tablet-background:			'../images/landscape-404-background-tablet.png';

// Contact US
$contact-us-success-message-background-color: 	#e5c99b;
$contact-us-success-message-font-color: 		#750101;
$contact-us-success-message-link-color: 		$contact-us-success-message-font-color;
$contact-us-error-message-color: 				#ff9939;

// Games Tabs
$games-tab-background-color: 				#af0000;
$games-tab-list-left-border-color: 			#d30000;
$games-tab-list-font-color: 				#fff;
$games-tab-link-left-border-color: 			#750101;
$games-tab-active-hover-background-color: 	#750101;
$games-tab-active-hover-font-color: 		#e5c99b;

// Language Lightbox
$lightbox-border-color:						#750101;
$lightbox-item-link-color:					#fff;
$lightbox-item-link-bg-color:				#af0000;
$lightbox-item-link-bg-color-hover:			$lightbox-border-color;

// Lightbox
$lightbox-background-color: #af0000;