/* Global Reset */
*						{margin: 0; padding: 0;}

@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../type/gothic-webfont.eot');
    src: url('../type/gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/gothic-webfont.woff') format('woff'),
         url('../type/gothic-webfont.ttf') format('truetype'),
         url('../type/gothic-webfont.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General */
body					{font-family: Arial, Helvetica, sans-serif; font-size: 13px; height: 100%; line-height: 20px; padding-bottom: 80px;}
input[type="text"],
input[type="password"],
textarea,
select					{font-size: 11px; border: 1px solid #aeaeae; color: #837572;}
input[type="text"],
input[type="password"]	{padding: 5px 6px; font-size: 13px;}
input					{padding: 1px;}
select					{padding: 6px;}
input.Checkbox			{margin-right: 5px;}
select option			{}
h1, h2, h3, h4, h5, h6,
p, ul, ol, table		{margin: 0 0 12px;}
a						{font-weight: normal; text-decoration: none;}
a:hover					{}
h2, .TitleHeading,
h3, h4					{font-family: 'CenturyGothicRegular'; font-weight: normal;}
h2, .TitleHeading		{font-size: 18px;}
h3						{font-size: 16px; /*color: #c23e49;*/}
h4						{}
img, img a				{border: 0;}
ul, ol					{/*margin: 0 0 10px 30px;*/}
li						{}
blockquote				{}
hr						{margin: 10px 0; padding: 0; background: #c7d7db; height: 1px; border:0;}
.Content hr				{margin: 20px 0; border: none 0; border-top: 1px dashed #C9BDBB;/*the border*/ height: 1px; background: none;}

/* Forms */
.HorizontalFormContainer					{}
.HorizontalFormContainer dl					{/*overflow: hidden;*/}
.HorizontalFormContainer dl dt				{float: left; clear: left; width: 115px; text-align: left; line-height: 23px;}
.HorizontalFormContainer dl dd				{margin-left: 125px; margin-bottom: 9px;}
.HorizontalFormContainer input,
.HorizontalFormContainer Select				{width: 310px; padding: 6px 10px; vertical-align: middle;}
.HorizontalFormContainer Select				{width: 331px;}
.HorizontalFormContainer option				{margin: 6px 10px;}
.HorizontalFormContainer .Checkbox			{width: auto; padding: 0; vertical-align: top;}
.HorizontalFormContainer .Submit			{margin-left: 125px;}
.HorizontalFormContainer .Submit input		{width: auto; padding: 6px 20px; border: none; text-transform: uppercase; font-family: 'GeosansLightRegular', arial, sans-serif; letter-spacing: 1px; cursor: pointer;}
.HorizontalFormContainer ul					{margin-left: 35px; list-style-image: url(../images/checkout_check_bullet.png);}
.NarrowFormContainer dl dt					{width: 90px;}
.NarrowFormContainer dl dd					{margin-left: 95px;}
.NarrowFormContainer dl input				{width: 220px;}
.VerticalFormContainer dl					{margin: 0;}
.VerticalFormContainer dt					{margin-bottom: 6px;}
.VerticalFormContainer dd					{margin-bottom: 6px; margin-left: 10px;}

/* Confirmation */
.OrderTable									{width: 100%;}
.OrderTable .ARight,
.OrderTable tr.ARight td					{text-align: right;}
.OrderTable .ACenter,
.OrderTable tr.ACenter td					{text-align: center;}
.OrderTable th								{padding: 8px 12px; font-size: 14px; text-align: left; vertical-align: top;}
.OrderTable td								{padding: 8px 12px; text-align: left; vertical-align: top;}
.OrderTable tr.BottomLine td				{border-bottom: 1px dashed #d4cccb; padding: 0;}
.OrderTable tr.ReducePad td					{padding: 0;}

.OrderTable td input						{width: 125px; margin: 0 3px 0 10px;}
.OrderTable td .Submit						{margin: 0;}
.OrderTable td .Submit input				{width: auto; font-size: 14px; margin: 0;}
.OrderTable .Item td						{border-bottom: 1px dashed #d4cccb;}
.OrderTable .TotalCost td					{}
.OrderTable .TotalCost p					{margin: 0; padding: 7px; font-size: 17px; text-transform: uppercase; overflow: hidden;}
.OrderTable .TotalCost p					{}
.OrderTable td.PayMethod input				{vertical-align: top; width: auto;}
.OrderTable td.PayMethod p img				{margin-left: 5px; vertical-align: middle;}	

/* Page Container */
#Container				{width: 1043px; margin: 0 auto;}

/* Top Navigational Menu */
#TopMenu				{position: absolute; top: 16px; right: 271px;}
#TopMenu p				{margin: 0 0 2px; color: #ca9aad; font-size: 12px; font-family: 'CenturyGothicRegular'; text-transform: uppercase;}
#TopMenu ul				{margin:0; list-style-type: none;}
#TopMenu li				{display: inline;}
#TopMenu li a			{display: inline-block; padding: 1px 10px; background-color: #ece5e4; border-radius: 5px;}
#TopMenu li a:hover		{color: #cc7997;}
#TopMenu li.First a		{}
/*#TopMenu li a,*/
#TopMenu li div			{display: block; text-decoration: none; font-size: 0.85em; padding: 0 10px 0 10px; margin: 8px 0 0 0;}
#TopMenu li div a		{padding: 0; margin: 0; display: inline; font-size: 1em;}
#TopMenu li a:hover		{}

/* Pages Menu */
#Menu					{margin: 82px 0 0 39px;}
#Menu ul				{margin: 0; padding: 0; list-style-type: none;}
#Menu li				{float: left; position: relative; margin: 0; padding: 0;}
#Menu li.First a		{border: none; padding-left: 0;}
#Menu li a				{float: left; display: inline; font-size: 14px; font-family: 'CenturyGothicRegular'; text-decoration: none; height: 13px; line-height: 13px; padding: 0 13px; border-left: 1px solid #dad6d5;}
#Menu li a:hover		{text-decoration: none;}
#Menu li ul				{width: auto; position: absolute; clear: left; top: 22px; left: 0; display: none; text-align: left; font-size: 0.9em; background: transparent; z-index: 1;}
#Menu li ul li			{clear: both; color: white; text-align: left; background: transparent;}
#Menu li ul li a		{padding: 3px 10px 3px 10px; font-size: 1em; text-align: left; margin: 0; width: 120px; height: auto;}
#Menu li ul li a:hover	{text-decoration: none;}
#Menu li:hover a,
#Menu li.over a			{}
#Menu li ul li a,
#Menu li.over li a		{}
#Menu li:hover ul,
#Menu li.over ul		{display: block;}
/* Holly Hack. IE Requirement \*/
* html #Menu ul li		{float: left; height: 1%; }
* html #Menu ul li a	{height: 1%; }
/* End */

/* Outer Content Wrapper (Surrounds header & content) */
#Outer						{clear: both;}
#Wrapper					{clear: both; width: 960px; padding: 24px 41px 10px 42px; margin: 4px 0 5px; overflow: hidden; background: url(../images/bg_page_middle.png) repeat-y left center; background: url(../images/bg_page_top.png) no-repeat left top, url(../images/bg_page_bottom.png) no-repeat left bottom, url(../images/bg_page_middle.png) repeat-y left center !important; background-color: #fff;}

/* Header */
#Header						{padding: 1px 0; height: 112px; background: url(../images/bg_header.png) no-repeat left top; position: relative;}

/* Logo */
#Logo						{}
#Logo h1					{margin: 0;}
#Logo h1 a					{display: block; width: 263px; height: 48px; margin: 0; background: url(../images/logo.png) no-repeat; text-indent: -9999px; position: absolute; top: 19px; left: 39px;}

/* My Cart */
#MyCart						{width: 222px; height: 43px; line-height: 43px; text-align: center; font-size: 12px; background: url(../images/small_cart_bg.png) no-repeat; position: absolute; top: 18px; right: 39px;}
#MyCart a					{color: #837572; border-bottom: 1px dotted #837572; padding-bottom: 1px;}
#MyCart a:hover				{color: #cc7997; border-color: #cc7997;}
#MyCart span				{display: inline-block; margin-left: 15px; padding-left: 27px; color: #b08596; background: url(../images/small_cart_icon.png) no-repeat left center;}

/* Top Search Form */
#SearchForm					{padding-top: 20px; float: right;}
#SearchForm label			{font-weight: bold;}
#SearchForm input.Textbox	{width: 139px; border: 1px solid #ccc; background: #fff; font-size: 0.9em; padding: 3px;}
#SearchForm .Button			{width: 27px; height: 27px; padding: 0; margin-top: -3px; vertical-align: middle;}
#SearchForm p				{text-align: right;margin: 0 0 0 45px; font-size: 0.9em;}
#SearchForm a				{text-decoration: none;}

/* Left Content Area */
.Left									{float: left; min-height: 500px; width: 250px; padding: 40px 0 10px; margin-right: 20px;}
.Left h2								{font-size: 16px; margin: 5px 0 8px; padding: 0 20px;}
.Left a									{/*color: #000;*/}
.Left .BlockContent						{padding: 0 20px 0 20px; padding-bottom: 15px;}
.Left ul								{margin: 0; padding: 0;}
.Left li								{clear: both; list-style: none; margin: 0; padding: 3px 0; border-bottom: 1px solid #c5dde9;}
.Left li a								{text-decoration: none;}
.Left li a:hover						{text-decoration: underline;}
.Left #SideCategoryList li ul			{border-top: 1px solid #c5dde9;}
.Left #SideCategoryList li.LastChild	{border-bottom: 0 !important;}
.Left #SideCategoryList li				{padding: 3px 0 0 0;}
.Left #SideCategoryList li ul			{padding-left: 15px;}

/* Primary Content Area */
.Content								{float: left; width: 420px; margin: 0; padding: 0;}
.Content .Block							{clear: both;}
.Block									{margin-top: 10px; margin-bottom: 10px; padding: 1px 0;}
.Content h2, .TitleHeading				{margin: 10px 0 15px;}
.Content a:hover						{text-decoration: underline;}

/* Primary Content Area (column span of 2) */
.Content.Wide							{width: 690px;}

/* Primary Content Area (column span of 3 - spans entire page width) */
.Content.Widest							{width: 100%;}

/* Right Content Area */
.Right									{float: right; min-height: 500px; width: 250px; padding: 40px 0 10px; margin-left: 20px;}
.Right h2								{font-size: 16px; margin: 15px 0 10px; padding: 0 20px;}
.Right a								{/*color: #000;*/}
.Right li a:hover						{text-decoration: underline;}
.Right .BlockContent					{padding: 0 20px 0 20px; padding-bottom: 15px;}
.Right ul								{margin: 0; padding: 0;}
.Right li								{clear: both; list-style: none; margin: 0; padding: 3px 0; border-bottom: 1px solid #c5dde9;}
.Right li a								{text-decoration: none;}
.Right li a:hover						{text-decoration: underline;}

/*.Right .Testimonial					{width: 150; height: 300px; background: url(../images/border_curve_top) no-repeat left top, url(../images/border_curve_middle) repeat-y left top, url(../images/border_curve_bottom) no-repeat left top;}*/
div.Testimonial							{background: url(../images/border_curve_top.png) no-repeat left top, url(../images/border_curve_bottom.png) no-repeat left bottom, url(../images/border_curve_middle.png) repeat-y left center !important; background-color: #d9f0f6;}
div.Testimonial q						{font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px;}
div.Testimonial em						{font-family: Georgia, "Times New Roman", Times, serif; margin-bottom: 5px;}
div.Testimonial a.more					{color: #42b4d0; border-bottom: 1px dotted #42b4d0; padding-bottom: 1px; text-decoration: none;}
div.Testimonial img,
div.Testimonial q,
div.Testimonial em						{display: block; margin-bottom: 5px;}	

div.ContactDetails						{color: #fff; background: url(../images/border_green_curve_top.png) no-repeat left top, url(../images/border_green_curve_bottom.png) no-repeat left bottom, url(../images/border_green_curve_middle.png) repeat-y left center !important; background-color: #65c1d8;}
div.ContactDetails h2					{padding-bottom: 10px; color: #ccf4fe; border-bottom: 1px dashed #d9f0f6;}

div.Links								{color: #fff; background: url(../images/border_green_curve_top.png) no-repeat left top, url(../images/border_green_curve_bottom.png) no-repeat left bottom, url(../images/border_green_curve_middle.png) repeat-y left center !important; background-color: #65c1d8;}
div.Links .BlockContent					{padding: 0 0 15px;}
div.Links h2							{padding-bottom: 10px; margin-bottom: 0; color: #ccf4fe;}
div.Links ul							{}
div.Links ul li							{padding: 8px 20px; border: none; border-top: 1px dashed #D9F0F6;}
div.Links ul li a						{font-size: 16px; color: #fff; padding-right: 17px; background: url(../images/arrow_right.png) no-repeat right center;}

.SideImage .BlockContent				{padding: 0;}

/* Side Icons */
.SideIcons								{height: 201px; background: url(../images/bg_border_side_icons.png) no-repeat; position: relative;}
.SideIcons .BlockContent				{}
.SideIcons a.FreeDelivery				{width: 138px; height: 138px; background: url(../images/side_icon_free_delivery.png) no-repeat; text-indent: -9999px; position: absolute; top: -38px; left: 95px;}
.SideIcons a.Filled						{width: 148px; height: 130px; background: url(../images/side_icon_beanbags_filled.png) no-repeat; text-indent: -9999px; position: absolute; top: 62px; left: 20px;}

/* Accordion Menu */
.AccMenu .BlockContent					{margin: 0; padding: 0;}
.AccMenu h3.acc_trigger					{margin-bottom: 0px;}
.AccMenu h3.acc_trigger a				{display: block; height: 31px; line-height: 31px; padding: 0 20px; color: #fff; font-size: 14px; text-decoration: none; background: #65c1d8 url(../images/acc_menu_bg_plus.png) no-repeat;}
.AccMenuh3.acc_trigger a:hover			{}
.AccMenu h3.active a					{background: #65c1d8 url(../images/acc_menu_bg_minus.png) no-repeat;}
.AccMenu .acc_container					{overflow: hidden; width: 250px; background-color: #f6f3f1;}
.AccMenu .acc_container .acc_block		{padding: 10px 15px;}
.AccMenu .acc_container h4				{font-size: 14px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.AccMenu .acc_container ul				{margin-bottom: 12px; margin-left: 15px;}
.AccMenu .acc_container ul li			{border: 0; padding: 0; margin: 0; list-style-type: disc;}

/*  Stockist Side Contact */
.StockistContact						{}
.StockistContact .BlockContent			{height: 324px; padding: 1px 0; background: url(../images/stockist_bg_side.jpg) no-repeat;}
.StockistContact .BlockContent 	p		{margin: 185px 30px 0; font-size: 18px; color: #fff; line-height: 22px;}
.StockistContact .BlockContent 	p a		{color: #fff; border-bottom: 1px dashed #fff;}

/* Page Footer */
#Footer									{clear: both; width: 1043px; height: 222px; font-size: 12px; background: url(../images/bg_footer.png) no-repeat;}
#Footer .inner							{padding: 20px 0 0 40px;}
#Footer	ul								{float: left; display: inline; width: 190px; margin: 0; padding: 2px 0 5px; border-left: 1px dashed #bbb2b0; overflow: hidden; list-style-type: none;}
#Footer	ul li							{padding-left: 20px;}
#Footer	ul li a							{color: #837572;}
#Footer	ul li a:hover					{color: #cc7997;}
#Footer	p.PayMethod						{float: right; display: inline; width: 185px; margin-right: 43px;}
#Footer	p.PayMethod span				{display: block; margin-top: 5px; font-size: 10px; text-transform: uppercase;}
#Footer	p.Copyright						{clear: both; margin: 0; padding: 65px 40px 0 0; text-align: center;}

/* HomeIcons Block */
.HomeIcons								{}
.HomeIcons ul							{overflow: hidden;}
.HomeIcons ul li						{float: left; display: inline; width: 192px; padding: 10px 0; margin-left: -1px; text-align: center; border-left: 1px dashed #BBB2B0;}
.HomeIcons ul li a						{}
.HomeIcons ul li a img					{}

/* HomeInfo Block */
.HomeInfo									{padding: 10px 0;}
.HomeInfo ul								{overflow: hidden;}
.HomeInfo ul li								{float: left; display: inline; width: 336px; height: 236px;}
.HomeInfo ul li.testimonial					{background: url(../images/home_bg_testimonial.jpg) no-repeat; margin-right: 18px;}
.HomeInfo ul li.testimonial div				{margin: 35px 20px 0 152px;}
.HomeInfo ul li.testimonial blockquote		{margin-right: -20px; margin-bottom: 5px; font-size: 14px; font-family: Georgia, "Times New Roman", Times, serif; background: url(../images/quote_left.png) no-repeat 0 0;}
.HomeInfo ul li.testimonial blockquote span	{padding-left: 20px; background: url(../images/quote_right.png) no-repeat 100% 5%; padding-right: 20px;}
.HomeInfo ul li.testimonial em				{display: block; margin-bottom: 5px; font-family: Georgia, "Times New Roman", Times, serif;}
.HomeInfo ul li.testimonial a				{color: #42b4d0; border-bottom: 1px dotted #42b4d0; padding-bottom: 1px; text-decoration: none;}
.HomeInfo ul li.about						{background: url(../images/home_bg_about.png) no-repeat; margin-right: 18px;}
.HomeInfo ul li.about h3					{font-size: 18px; padding: 20px 35px 0;}
.HomeInfo ul li.about p						{padding: 0 35px 0;}
.HomeInfo ul li.video						{width: 251px; background: url(../images/home_bg_video.png) no-repeat;}
.HomeInfo ul li.video .VideoContainer		{padding: 12px 12px 0;}
.HomeInfo ul li.video p						{padding: 12px 16px 0;}

/* Coupon Code / Gift Certificate */
#SideCouponCodeBox,
#SideGiftCertificateCodeBox					{float: right; width: 172px; padding: 15px 20px;}
#SideCouponCodeBox							{background-color: #f8ecf1; margin: 23px 0 0 0;}
#SideGiftCertificateCodeBox					{background-color: #e9f5f9;}
#SideGiftCertificateCodeBox	 h2,
#SideCouponCodeBox h2						{margin: 0; padding: 0;}
#SideGiftCertificateCodeBox	.BlockContent,
#SideCouponCodeBox .BlockContent			{margin: 0; padding: 0;}
#SideGiftCertificateCodeBox input,	
#SideCouponCodeBox input					{vertical-align: middle;}

/* Blog Side */
.BlogCategory, .BlogArchive				{}
.BlogCategory h2, .BlogArchive h2		{padding: 0 0 8px 0; margin: 0 20px 5px 20px; border-bottom: 1px dashed #cbc0be;}
.BlogCategory .BlockContent,
.BlogArchive .BlockContent				{padding: 0; margin: 0 20px 15px;}
.BlogCategory ul, .BlogArchive ul		{}
.BlogCategory ul li, .BlogArchive ul li	{border: none;}
.BlogCategory ul a, .BlogArchive ul a	{color: #837572;}
.BlogCategory ul li a:hover,
.BlogArchive ul li a:hover,
.BlogCategory ul li.Current a,
.BlogArchive ul li.Current a			{color: #c97d9c; text-decoration: none;}


/* Content Pages */
.IntroText								{font-size: 15px;}

.BenefitsContent, .AboutContent			{}
.BenefitsContent ul, .AboutContent ul	{margin-top: 20px; list-style-type: none;}
.BenefitsContent ul li,
.AboutContent ul li						{clear: both; border-top: 1px dashed #c9bdbb; padding: 10px 0; overflow: hidden;}
.BenefitsContent ul li img,
.AboutContent ul li img					{float: left; display: inline;}
.BenefitsContent ul li h3,
.AboutContent ul li h3					{margin-left: 276px; color: #c23e49;}
.BenefitsContent ul li p,
.AboutContent ul li p					{margin-left: 276px;}
.AboutContent ul li						{padding: 20px 0;}

.TestimonialContent						{}
.TestimonialContent ul					{list-style-type: none;}
.TestimonialContent li					{padding: 20px 0; font: 16px/24px Georgia, "Times New Roman", Times, serif; border-top: 1px dashed #C9BDBB; overflow: hidden;}
.TestimonialContent li img				{float: left;}
.TestimonialContent li q				{display: block; margin-left: 290px; margin-bottom: 5px;}
.TestimonialContent li cite				{display: block; margin-left: 290px; font: italic 13px Arial, Helvetica, sans-serif; color: #ec6875;}
.TestimonialContent li.Even img			{float: right;}
.TestimonialContent li.Even q,
.TestimonialContent li.Even cite		{margin-right: 290px; margin-left: 0;}
.TestimonialContent li.NoImage q,
.TestimonialContent li.NoImage cite		{margin: 0; display: inline;}

.FaqContent								{}
.FaqContent ul							{border-bottom: 1px dashed #C9BDBB; list-style-type: none;}
.FaqContent li							{border-top: 1px dashed #C9BDBB; padding: 3px 0;}
.FaqContent li .Item					{/*background-color: #e4f4f8;*/ padding: 15px 12px; line-height: 24px;}
.FaqContent li .Item:hover				{background-color: #e4f4f8;}
.FaqContent li .Item .acc_trigger		{padding-left: 30px; margin: 0; background: url(../images/bullet_arrow_right.png) no-repeat left top; font-size: 13px; cursor: pointer;}
.FaqContent li .Item .active			{background-image: url(../images/bullet_arrow_down.png);}
.FaqContent li .Item .acc_trigger .q	{float: left; display: inline; font-size: 16px; font-weight: bold; text-transform: uppercase; color: #e45e69;}
.FaqContent li .Item .acc_container		{padding-left: 30px; margin-top: 12px; width: 636px;}
.FaqContent li .Item .acc_container p	{margin: 0;}
.FaqContent li .Item .acc_container p .a {float: left; display: inline; font-size: 16px; font-weight: bold; text-transform: uppercase; color: #41b2ce;}
.FaqContent li .Item .text				{display: block; margin-left: 25px;}

.ContactContent							{}
.ContactContent ul						{overflow: hidden; list-style-type: none;}
.ContactContent ul li					{float: left; width: 240px; margin-right: 20px; color: #685551;}

.CareContent							{padding-bottom: 30px;}
.CareContent h3							{color: #C23E49;}
.CareContent h4							{font: bold 14px Arial, Helvetica, sans-serif;}
.CareContent .CleanOption				{list-style-type: none;}
.CareContent .CleanOption li			{}
.CareContent .CleanOption li span		{float: left; display: inline; width: 35px; text-align: center;}
.CareContent .CleanOption li p			{margin-left: 46px;}
.VideoBoxContainer						{overflow: hidden;}
.VideoBox								{float: left; display: inline; width: 346px; height: 229px; border: 2px solid #757575;}
.VideoBoxDescription					{margin-left: 370px;}

.StockistContent						{}
.StockistContent h3						{clear: both; height: 36px; line-height: 36px; margin-bottom: 0; padding-left: 20px; background: url(../images/curvy_heading_bg.png) no-repeat;}
ul.StockistStore 						{overflow: hidden; list-style-type: none;}
ul.StockistStore li						{margin-top: -1px; padding: 20px 0; border-top: 1px dashed #C9BDBB; overflow: hidden;}
ul.StockistStore li p.logo				{float: left; display: inline; width: 168px; text-align: center;}
ul.StockistStore li address				{margin: 0 0 0 188px; font-style: normal;}
ul.StockistStore li address strong		{display: block; font: normal 16px Arial, Helvetica, sans-serif;}
ul.StockistStore li address .location	{}
ul.StockistStore li address .phone		{}
ul.StockistStore li address .url		{}
ul.StockistStore li address .location,
ul.StockistStore li address .phone,
ul.StockistStore li address .url		{display: block;}
.StockistContent .CommingSoon			{float:right; display: inline; margin: -33px 70px 10px 50px;}

#ContactForm							{padding: 0;}
#ContactForm .FormContainer				{margin-top: 30px; padding: 25px 30px; background-color: #f5f2f1; overflow: hidden;}
#ContactForm h3							{color: #c8393d;}
#ContactForm h3 span					{float: right; display: inline; margin-right: 95px; font-size: 12px;}
#ContactForm p							{float: left; clear: right; display: inline; width: 250px; margin: 0 35px 20px 0;}
#ContactForm p span						{display: block; margin-bottom: 3px;}
#ContactForm p span em.Required			{margin-right: 5px;}
#ContactForm input						{width: 232px;}
#ContactForm select						{width: 251px;}
#ContactForm textarea					{width: 518px; height: 100px;}
#ContactForm input,						
#ContactForm select,
#ContactForm textarea					{padding: 4px 8px; border: 1px solid #cecece; font-family: Arial, Helvetica, sans-serif;}
#ContactForm p.IntroText				{clear: both; width: auto; font-size: 12px;}
#ContactForm p.Submit					{clear: both; margin-top: -10px;}
#ContactForm p.Submit input				{width: auto; padding: 4px 25px 4px 13px; background: #e55e69 url(../images/button_arrow.png) no-repeat right center; text-transform: none; font-size: 16px; color: #fff; border: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor: pointer;}
#ContactForm p.Message					{clear: both;}

#SitemapContent							{}
#SitemapContent .BlockContent			{margin-top: 25px; padding-top: 25px; border-top: 1px dashed #C9BDBB;}
#SitemapContent h3						{margin: 0; font-size: 13px; font-weight: bold;}
#SitemapContent ul						{margin-left: 13px;}
#SitemapContent ul li					{}
#SitemapContent ul li a					{color: #837572;}
.SitemapGeneral, .SitemapShopping,
.SitemapContact, .SitemapLegal			{float: left; display: inline; width: 150px; min-height: 204px; height:auto !important; height: 204px; padding-left: 20px; line-height: 24px; border-left: 1px dashed #C9BDBB;}
.SitemapGeneral							{width: 170px; padding: 0; border: none;}

/* Blog Page */
.LatestBlog									{clear: both; margin: 20px 0; overflow: hidden;}
.LatestBlog h2								{margin-bottom: 15px;}
.LatestBlog .BlogList						{margin-left: -15px; overflow: hidden;}
.LatestBlog .BlogList li					{float: left; display: inline; width: 218px; height: 260px; padding-left: 15px; margin-bottom: 30px; border-bottom: 1px dashed #cbc0be;}
.LatestBlog .BlogList li div				{}
.LatestBlog .BlogList li div.BlogImage img	{width: 218px; height: 141px; margin-bottom: 10px; border: 1px solid #c3b8b8;}
.LatestBlog .BlogList li div.BlogTitle		{min-height: 20px; height:auto !important; height: 20px; margin-bottom: 5px; font-size: 14px;}
.LatestBlog .BlogList li div.BlogTitle a	{font-weight: bold;}
.LatestBlog .BlogList li div.BlogDetail		{}
/* Blog Post */
.BlogPost								{margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px dashed #c9bdbb}
.BlogPost .BlogImageLarge				{border: 1px solid #c3b8b8;}
.BlogPost h3							{margin: 20px 0 10px; font-size: 16px; font-weight: bold;}
.BlogPost .Back							{}
.BlogPost .Back a						{display: block; width: 103px; height: 26px; line-height: 25px; padding-left: 22px; background: url(../images/back_to_blog.png) no-repeat; font-size: 14px; color: #fff; font-family: 'CenturyGothicRegular';}

.PrevNext								{clear: both; height: 27px; text-align: center;}
.PrevNext ul							{width: 230px;  margin: 0 auto; text-align: left; list-style-type: none;}
.PrevNext ul li							{display: inline;}
.PrevNext ul li a						{float: left; display: inline; height: 27px; line-height: 27px; margin: 0 8px;}
.PrevNext ul li.Current a				{color: #837572;}
.PrevNext ul li.Prev a					{width: 40px; padding-left: 25px; background: url(../images/nav_prev_bg.png) no-repeat; color: #fff;}
.PrevNext ul li.Next a					{width: 53px; padding-left: 12px; background: url(../images/nav_next_bg.png) no-repeat; color: #fff;}

/* Newsletter Subscription Form */
.NewsletterSubscription					{clear: both;}
.NewsletterSubscription label			{clear: both; float: left;}
.NewsletterSubscription input			{width: 129px; font-size: 0.9em; padding: 3px; margin-bottom: 5px;}
.NewsletterSubscription .Button			{width: 95px; height: 25px; border: 0; margin-top: 6px; vertical-align: middle;}

/* Product Listings 
.ProductList							{list-style: none; margin: 0; padding: 0;}
.Content .ProductList li				{list-style: none; float: left; width: 122px; font-size: 0.95em; margin: 6px; padding: 8px; overflow: hidden; min-height: 17em;}
.ProductList a							{text-decoration: none;}
.ProductList .ProductImage				{margin: 0 0 5px 0; display: table-cell; width: 120px; height: 120px; text-align: center; overflow: hidden; vertical-align: middle;}
.ProductList .ProductImage img			{vertical-align: middle;}
.ProductList p							{margin: 5px 0 5px 5px;}
.ProductList strong,
.ProductList strong a					{color: #075899;}
.ProductPrice, .ProductList em			{font-style: normal; font-weight: bold;}
.ProductList .Rating					{font-size: 0.9em; font-weight: bold;}
.ProductList .Rating img				{height: 12px; margin-top: 3px;}
.ProductList li .ProductCompareButton	{margin-top: 3px; text-align: center;}
*/

/* Product Listings */
.ProductList							{list-style: none; margin: 0; padding: 0;}
.Content .ProductList li				{background-color: #f6f3f1; padding: 5px; margin: 0 0 10px;}
.Content .ProductList li .inner			{padding: 14px 10px 14px 10px; border: 1px dashed #c9bdbb; overflow: hidden;}
.ProductList .ProductImage				{float: left; width: 310px; height: 249px; text-align: center;}
.ProductList .ProductImage img			{width: 308px; height: 247px; border: 1px solid #dfd8d6;}
.ProductList .ProductDetails			{width: 327px; float: right;}
.ProductDetails strong a				{display: block; font-size: 18px; font-weight: normal; color: #5c4d4a; margin-bottom: 6px;}
.ProductDetails .ProductPriceRating		{margin-bottom: 6px;}
.ProductDetails .ProductPriceRating em	{font-style: normal; font-size: 18px; color: #3a2c2c;}
.ProductDetails .ProductAvailability	{margin-bottom: 6px;}
.ProductDetails .ProductQty				{}
.ProductDetails .ProductQty input		{width: 35px;}
.ProductDetails .Buttons				{margin-bottom: 13px;}
.ProductDetails .Buttons input			{margin-right: 5px;}
.ProductDetails .Included				{}
.ProductDetails .Included strong		{font-weight: normal;}
.ProductDetails .Included ul			{margin-left: 13px; font-weight: bold; font-size: 13px;}
.ProductDetails .Included ul li			{margin: 0; padding: 0; list-style-type: disc;}

.ProductList .ProductQty				{margin: 0 0 13px;}

/* Product Details */
.ProductEssential						{background-color: #f6f3f1; padding: 5px;}
.ProductEssentialInner					{padding: 20px 10px 20px 20px; border: 1px dashed #c9bdbb;}
.PrimaryProductDetails .ProductThumb	{float: left; width: 350px; text-align: center;}
.PrimaryProductDetails .ProductMain		{width: 272px; float: right;}

.ProductDetailsGrid .DetailRow					{clear: left; margin: 0 0 13px;}
.ProductDetailsGrid .Label						{margin: 0 3px 0 0; padding-bottom: 1px; display: inline; position: relative;}
.ProductDetailsGrid .Value						{display: inline;}
.ProductDetailsGrid .Label .Required			{position: absolute;left: -1em;}
.ProductDetailsGrid .RetailPrice				{margin-bottom: 7px !important;}
.ProductDetailsGrid .RetailPrice .Label			{display: none;}
.ProductDetailsGrid .RetailPrice .Value			{}
.ProductDetailsGrid .RetailPrice .Value span	{font-size: 18px; color: #3a2c2c;}
.ProductDetailsGrid .Availability				{font-size: 12px;}
.ProductDetailsGrid .Quantity input				{width: 35px; padding: 2px; font-size: 12px;}
.ProductDetailsGrid .Quantity select			{padding: 1px; font-size: 12px;}
.ProductDetailsGrid .Quantity,
.ProductDetailsGrid .Quantity					{font-size: 12px;}
.ProductDetailsGrid .ShortDescription .Label	{display: none;}
.ProductDetailsGrid .ShortDescription .Value	{}
.ProductDetailsGrid .Included .Label			{display: block;}
.ProductDetailsGrid .Included .Value			{display: block;}
.ProductDetailsGrid .AddCartButton				{display: block;}
.ProductDetailsGrid ul							{margin-left: 13px; font-weight: bold; font-size: 13px;}
.ProductOptionList ul,
.ProductOptionList li							{list-style: none; margin: 0; padding: 0;}
.ProductOptionList li							{margin-bottom: 3px;}
.ProductOptionList input						{vertical-align: middle;}


.Left .ProductList .ProductImage,
.Right .ProductList .ProductImage		{display: none;}
.Left .ProductList li,
.Right .ProductList li					{clear: both; width: 140px; list-style: none; margin: 0; margin-top: 5px; padding: 3px 0 5px 0; color: #000000;}
.Right .SideCart p						{color: #000000;}/* Top Seller Block Specific */

/* Contains the number of the item */
.Left .TopSellers li .TopSellerNumber,
.Right .TopSellers li .TopSellerNumber	{float: left; width: 20px; font-size: 1.2em; padding: 6px 0 3px 6px;}

/* Contains the details of the item */
.Left .TopSellers .ProductDetails,
.Right .TopSellers .ProductDetails		{margin-left: 24px; width: 110px; padding: 3px 0 3px 0;}

/* No1 seller box */
.Left .TopSellers li.TopSeller1,
.Right .TopSellers li.TopSeller1					{clear: both; float: left; width: 128px; margin: 10px 0 5px 0; padding: 5px; overflow: visible; display: inline;}
.Left .TopSellers li.TopSeller1 img,
.Right .TopSellers li.TopSeller1 img				{text-align: center; overflow: hidden; max-width:130px;}
.Left .TopSellers li.TopSeller1 .TopSellerNumber,
.Right .TopSellers li.TopSeller1 .TopSellerNumber	{width: 44px; height: 34px; font-size: 2em; padding: 7px 0 6px 0; margin: -20px 0 0 0; text-align: center; display: block;}

.Left .TopSellers li.TopSeller1 .ProductDetails,
.Right .TopSellers li.TopSeller1 .ProductDetails	{margin-left: 0;}
.Left .TopSellers li.TopSeller1 .ProductImage,
.Right .TopSellers li.TopSeller1 .ProductImage		{width: 130px; display: inline; text-align: center; overflow: hidden;}
.Content .TopSellers li .TopSellerNumber			{display: none;}

/* Page Breadcrumbs */
.Breadcrumb ul, .Breadcrumb li			{list-style: none; margin: 0; padding: 0;}
.Breadcrumb								{font-size: 0.9em; padding-bottom: 4px; border-bottom: 1px solid #DCDFE2;}
.Breadcrumb li							{padding-left: 6px; display: inline;}
.Breadcrumb li a						{padding-right: 10px; background: url('../../default/images/BreadcrumbSep.gif') no-repeat right;}

.FindByCategory ul, .FindByCategory li	{list-style: none; padding: 0; margin: 0;}
.FindByCategory li						{padding-left: 12px; background: url('../../default/images/BreadcrumbSep.gif') no-repeat 3px 5px; padding-right: 8px; display: inline;}

/* Miscellaneous Definitions */
.Meta									{color: #444; font-size: 0.93em;}
.Left .FeedLink, .Right .FeedLink		{padding-right: 5px;}
.Content .FeedLink						{margin-top: 4px;}

.FloatRight								{float: right;}
.FloatLeft								{float: left;}
.ClearRight								{clear: right;}
.ClearLeft								{clear: left;}
.Clear									{clear: both;}

.SortBox								{font-size: 0.95em; color: #444;}
.CompareButton							{clear: both; text-align: right; margin-top: 12px; padding: 4px;}

.Field45								{width: 45px;}
.Field100								{width: 100px;}
.Field150								{width: 150px;}
.Field200								{width: 200px;}
.Field250								{width: 250px;}
.Field300								{width: 300px;}
.Field350								{width: 350px;}
.Field400								{width: 400px;}

.MB10									{margin-bottom:10px; }
.MT0									{margin-top:0px; }
.LH140									{line-height:140%; }
.PLRB5									{padding:0px 5px 5px 5px; }
.PLR10									{padding:0px 10px 0px 10px; }
.PL20									{padding:0px 0px 0px 30px; }
.PL40									{/*padding:0px 0px 0px 40px; */}
.ML20									{margin:0px 0px 0px 20px; }
.MT10									{margin-top:10px; }
.PL10									{padding-left:10px; }
.PB2									{padding-bottom:2px; }
.NoMarginBottom							{margin-bottom: 0; }

.Required								{color: red; font-weight: bold; visibility: visible;}

.InfoMessage							{padding: 8px 6px 8px 28px; margin-bottom: 10px;}
.SuccessMessage							{padding: 8px 6px 8px 28px; margin-bottom: 10px;}
.ErrorMessage							{padding: 8px 6px 8px 28px; margin-bottom: 10px;}

/************* Page Specific: Create Account / Login Page *************/
.CreateAccount							{float: left; width: 357px; border-right: 1px dashed #d4cccb; padding-right: 45px; margin: 20px 0 15px;}
.AccountLogin							{float: left; padding-left: 40px; width: 335px; margin: 20px 0 15px;}
.CreateAccount #CheckoutGuestForm		{margin-left: 30px;}
.CreateAccount dd						{margin-bottom: 6px;}
.CreateAccount .Submit					{margin-top: 13px;}
.AccountLogin .Submit					{margin: 9px 0 0 120px;}
.AccountLogin .ForgotPassword			{margin: 3px 0 0 120px;}
.CreateAccount h4, .AccountLogin h4		{font: normal 16px/20px Arial, Helvetica, sans-serif;}

ul.ShippingAddressList,
ul.ShippingAddressList li				{list-style: none; margin: 0; padding: 0;}
ul.ShippingAddressList li				{width: 30%; float: left; margin-right: 10px; margin-bottom: 20px;}

.ProductEssential						{background-color: #f6f3f1; padding: 5px;}
.ProductEssentialInner					{/*padding: 20px 15px 20px 20px; border: 1px dashed #c9bdbb;*/}
.PrimaryProductDetails .ProductThumb	{float: left; width: 350px; text-align: center;}
.PrimaryProductDetails .ProductMain		{/*width: 265px; float: right;*/}
.PrimaryProductDetails dl				{font-size: 0.90em;}
.PrimaryProductDetails dt				{font-weight: bold; width: 80px; clear: left;}
.PrimaryProductDetails dd				{margin-left: 90px;}

.Right hr								{margin: 5px 0 0;}
.Content h3								{font-family: Arial, Helvetica, sans-serif;}
.ComparisonCheckbox						{float: left;}

.SideRecentlyViewed .CompareButton		{margin: 10px 0 0 0; padding: 0;}
.SideRecentlyViewed .ProductList li		{margin-left: 0;}
.SideRecentlyViewed .ProductDetails		{margin-left: 20px;}

/* Product Comparisons */
.ComparisonTable						{width: 100%; }
.ComparisonTable td						{vertical-align:top; font-size: 11px }
.CompareFieldName						{width:95px; padding:8px 10px 8px 15px; }
.CompareFieldTop						{padding:5px; text-align:center; }
.CompareFieldTop a						{text-decoration:none; font-size:10px; }
.CompareFieldTop a:hover				{text-decoration:underline; }
.CompareLeft							{padding:5px 10px 5px 10px; }
.CompareCenter							{text-align:center; padding:5px; }
.CompareRating							{text-align:center; padding-top:8px; vertical-align:middle; }
.CompareProductOption					{margin-left:20px; padding-left:5px; }

.Availability							{color:gray; }
.LittleNote								{color:gray; font-size: 0.85em; }
.ViewCartLink							{padding-left: 30px; padding-top: 4px; padding-bottom: 8px;}

/* General Tables */
table.General, table.CartContents		{width: 100%; margin: 10px 0;}
table.General thead tr th,
table.CartContents thead tr th			{padding: 8px 15px; text-align: left;}
table.General tbody td,
table.CartContents tbody td				{padding: 8px 15px; vertical-align: top;}
table.General tbody tr.First td			{border-top: 0;}

/* Cart Contents Table */
.CartContents									{font-size: 12px;}
.CartContents a									{color: #40afcb; text-decoration: underline;}
.CartContents thead tr th,
table.General thead tr th						{font-size: 11px; text-transform: uppercase; font-weight: normal;}
.CartContents tbody td							{border-bottom: 0;}
.CartContents tfoot td							{border-bottom: 0; padding: 7px 10px; text-align: right; font-size: 14px; background-color: #f4efef;}
.CartContents .CartThumb img					{width: 174px; height: 128px; border: 1px solid #e4dedd;}
.CartContents .ProductName a					{font-size: 16px; color: #695551; text-decoration: none;}
.CartContents .ProductName span					{display: block;}
.CartContents .CartItemQuantity .CartRemoveLink	{font-size: 11px; padding-left: 12px; background: url(../images/remove_icon.png) no-repeat left center;}
.CartContents .CartItemTotalPrice em			{font-weight: bold; font-style: normal; font-size: 14px;}
.CartContents .CartItemIndividualPrice			{font-size: 14px;}
.CartContents .CartItemQuantity,
.CartContents .CartItemIndividualPrice,
.CartContents .CartItemTotalPrice				{text-align: right; border-left: 1px dashed #d4cccb;}
.CartContents select							{padding: 2px;}
.CartContents select option						{padding-left: 6px;}
.CartContents tfoot .ProductPrice				{font-style: normal; font-weight: bold;}
.CartContents tfoot .EstimateShippingLink		{font-size: 12px; text-decoration: underline; color: #837572;}
.CartContents tfoot .EstimateShippingLink em	{font-style: normal;}
.CartContents thead th.ARight					{border-left: 1px dashed #d4cccb;}
.CartContents .ARight							{text-align: right;}
/* Additional Cart page style */
#CartContent, #CartHeader						{margin-right: -48px;}
#CartHeader, #CartHeader h2						{margin-bottom: 0;}
.ProceedToCheckout								{text-align: right;}
.Content .ProceedToCheckout						{width: 200px;}
.ProceedToCheckout a							{padding-top: 5px;}
.KeepShopping									{clear: both; text-align: right;}
.KeepShopping a									{text-decoration: underline;}

.MiniCart .SubTotal						{text-align: center; font-size: 115%; color: #075899;}
.MiniCart .CartProductOptionList		{display: block;}

.JustAddedProduct						{width: 128px; overflow: hidden; margin: auto; text-align: center; padding: 5px; margin-bottom: 10px;}
.JustAddedProduct strong,
.JustAddedProduct a						{font-weight: bold; font-size: 1.02em; display: block; margin-bottom: 3px;}

.CategoryPagination .PagingList,
.CategoryPagination .PagingList li		{list-style: none; padding: 0; margin: 0;}
.CategoryPagination						{padding: 5px; text-align: center;}
.CategoryPagination .PagingList li		{display: inline; padding: 0 5px;}

/* Quick Search */
.QuickSearch							{margin: 0; padding: 0; text-align: left; border-collapse: collapse; background: #fff; border: 1px solid #BFBFBF;  }
.QuickSearchTitle td,
.QuickSearchAllResults td				{font-weight: bold; padding: 4px; font-size: 11px; }
.QuickSearchResult td					{font-size: 11px; padding:8px; cursor: pointer; }
.QuickSearchResultImage					{margin-left: 4px; margin-right: 10px; text-align: center; }
.QuickSearchResultNoImage				{padding-top: 10px; color: #777; }
.QuickSearchResultName					{margin: 0; padding: 0; padding-bottom: 5px; }
.QuickSearchResultName a				{font-weight: bold; text-decoration: none; }
.QuickSearchResult .Price				{font-size: 11px; }
.QuickSearchHover td					{background: #E8F4F8; }
.QuickSearchHover a						{text-decoration: underline; font-weight:bold; }
.QuickSearchAllResults td				{text-align: right; height: 25px; }
.QuickSearchAllResults a				{text-decoration: underline; }
.QuickSearchAllResults a:active,
.QuickSearchAllResults a				{outline: none; -moz-outline-style: none; }

/* Brand Tag Clouds */
.BrandCloud .smallest					{font-size:12px; }
.BrandCloud .small						{font-size:15px; }
.BrandCloud .medium						{font-size:18px; }
.BrandCloud .large						{font-size:20px; }
.BrandCloud .largest					{font-size:26px; }
.BrandCloud a							{padding-right: 5px; }
.DownloadExpires						{padding-top: 3px; font-style: italic; color: gray; }
.DownloadExpiresToday					{color: red; }

.CheckoutRedeemCoupon h4				{margin-top: 0; }
.CheckoutRedeemCoupon p					{margin-top: 10px; margin-bottom: 0;}

.BillingDetails							{float: left; width: 48%; margin-right: 10px; margin-bottom: 15px;}
.ShippingDetails						{float: left; width: 48%; margin-bottom: 15px;}

.ProductDetailsGrid dt					{width: 140px; margin-bottom: 6px; float: left; font-weight: bold;}
.ProductDetailsGrid dd					{margin-left: 145px; margin-bottom: 6px;}

.SubCategoryList						{padding: 4px;}
.SubCategoryList ul,
.SubCategoryList li						{list-style: none; margin-left: 0;}
.SubCategoryList li						{margin-bottom: 4px; padding-left: 25px; background: url('../../default/images/SubCategory.gif') no-repeat 3px 1px;}

.SearchTips .Examples					{background: lightyellow; padding: 8px; border: 1px solid #aaa; color: #555; margin-left: 30px; margin-bottom: 10px;}
.PrimaryProductDetails .ProductThumb p	{margin-top: 10px; font-size: 0.9em;}
.ProductReviewList						{clear: both;}
.SortBox select							{font-size: 0.9em;}
.SortBox option							{color: #444;}
.YourAccount li							{margin-bottom: 8px;}
.SoldOut								{color: #999;}
.RemoveFromWishlistForm					{margin: 5px;}
.ShippingProviderList					{list-style: none;}
small									{font-size: 11px; color: gray;}
.HowToPa								{margin-bottom: 10px;}
.ProductList .Rating					{display: block;}

.GoogleCheckout p,
.PayPalExpressCheckout p,
.AlternativeCheckout p					{margin: 0; font-size: 90%;}

.GoogleCheckout,
.PayPalExpressCheckout,
.AlternativeCheckout					{text-align: center; margin-bottom: 10px;}

/** Top Right Locale Chooser (list of flags) **/
#TopMenu li.Flag						{float: right;}
#TopMenu li.Flag div					{border: 0;}
#TopMenu li.Flag img					{margin: 3px;}
#TopMenu li.Flag img.Last				{margin-right: 0px;}
#TopMenu li.Flag img.Selected			{border: 2px solid #ffffaa; margin: 1px 3px;}

/** Currency Selector **/
.CurrencyList dl						{margin: 0; padding: 0;}
.CurrencyList dd						{padding: 0px; margin: 0px; border: 1px solid #EDECEC; background-color: #F9F9F9; clear: both;}
.CurrencyList a							{padding: 0 3px 0 5px; display: block; line-height: 1.8; text-decoration: none; font-size: 11px;}
.CurrencyList a.Sel						{background-color: #FFFFAA;}
.CurrencyList a:hover .Text				{text-decoration: underline;}
.CurrencyList a .Flag					{margin-top: 4px; display: block; float: left; width: 24px; padding-right: 2px; vertical-align: middle;}
.CurrencyList a .Text					{display: block; padding-left: 24px;}

.PrimaryProductDetails .YouSave			{font-weight: bold; margin-top: 3px; display: block;}

/* Shipping Estimation on Cart Contents Page */
.EstimateShipping						{margin-top: 4px; margin-bottom: 4px; font-weight: normal; width: 320px; padding: 7px; float: right;}
.EstimateShipping dt					{width: 100px; float: left; margin-bottom: 8px; clear: left;}
.EstimateShipping dd					{margin-bottom: 8px; font-weight: normal; text-align: left; margin-left: 114px;}
.EstimateShipping p.Submit				{margin-top: 10px; margin-bottom: 3px;}
.EstimateShipping label					{display: block; margin-bottom: 5px;}
.EstimatedShippingMethods				{text-align: left;}
.EstimatedShippingMethods table			{width: 100%; border-collapse: collapse;}
.EstimatedShippingMethods .VendorShipping {margin-left: 20px; margin-bottom: 10px;}
.EstimatedShippingMethods .Submit		{text-align: right;}

.CartContents tfoot .SubTotal .EstimatedShippingMethods tbody td		{text-align: left;}
.CartContents tfoot .SubTotal .EstimatedShippingMethods tbody td.Price	{text-align: right;}

.SharePublicWishList					{background-color:lightyellow; padding:5px; border:1px solid #CDDEE2;}

/* Express Checkout */
.ExpressCheckoutBlock .ExpressCheckoutTitle						{position: relative; padding: 7px 30px; margin-bottom: 10px; font-size: 14px; font-weight: bold;}
.ExpressCheckoutBlock h3 a										{font-size: 12px;}
.ExpressCheckoutBlock											{/*padding-top: 6px;*/}
.ExpressCheckoutBlock .ExpressCheckoutCompletedContent			{display: none;}
.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent	{display: inline; font-size: 12px; font-weight: normal; font-style: italic;}
.ExpressCheckoutBlockCollapsed .ExpressCheckoutContent			{display: none;}
a.ChangeLink													{position: absolute; right: 15px;}
.ExpressCheckoutBlock a.ChangeLink								{display: none;}
.ExpressCheckoutBlockCompleted a.ChangeLink						{display: inline;}
.ExpressCheckoutCompletedContent								{position: absolute; left: 250px;}
.LoadingIndicator												{margin-left: 10px;}
.LoadingIndicator img											{vertical-align: middle; margin-right: 10px;}
.ExpressCheckoutBlock .Submit input								{padding: 4px 20px 4px 8px; background: #e55e69 url(../images/button_arrow.png) no-repeat right center; color: #fff; border: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor: pointer;}
.ExpressCheckoutBlock .OrderTable .Submit input					{width: auto;}
.ExpressCheckoutContent											{padding-bottom: 10px; font-size: 12px;}			

#TopMenu li.HeaderLiveChat				{float: right;}
#TopMenu li.HeaderLiveChat div			{border-left: 0;}
.HeaderLiveChat img						{vertical-align: middle;}

#ProductOtherDetails .ProductDetailsGrid {margin-left: 25px;}

.SubCategoryListGrid					{padding: 4px;}
.SubCategoryListGrid ul,
.SubCategoryListGrid li					{list-style: none; margin-left: 0;}
.SubCategoryListGrid li					{margin-bottom: 4px;  padding: 10px; margin-left: 10px; background: #fff; float: left; text-align: center;}
.SubCategoryListGrid ol					{clear: both;}

.SubBrandList							{padding: 4px;}
.SubBrandList ul, .SubBrandList li		{list-style: none; margin-left: 0;}
.SubBrandList li						{margin-bottom: 4px; padding-left: 25px; background: url('../../default/images/SubBrand.gif') no-repeat 3px 1px;}
.SubBrandListGrid						{padding: 4px;}
.SubBrandListGrid ul,
.SubBrandListGrid li					{list-style: none; margin-left: 0;}
.SubBrandListGrid li					{margin-bottom: 4px; padding: 10px; margin-left: 10px; background: #fff; float: left; text-align: center;}
.SubBrandListGrid ol					{clear: both;}

.ProductAddToCart dt div.Required,
#CartEditProductFieldsForm dt div.Required	{margin-left: -10px;}
.ProductAddToCart input.Textbox,
#CartEditProductFieldsForm input.Textbox	{width:181px;}

.ProductAddToCart textarea,
#CartEditProductFieldsForm textarea			{width:183px; height: 50px;}

.ProductFields dd						{margin-bottom: 4px; float:left; margin-left:20px;}
.ProductFields							{margin-bottom: 15px;}
.ProductFields input.Textbox			{width:100%;}
.ProductFields TextArea					{width:100%;}

.CartContents .CartProductFieldsLink	{font-size: 11px; color: #666; margin-top: 6px; padding-left: 22px; background: url('../../default/images/GiftWrappingAvailable.gif') no-repeat; padding-bottom: 4px;}
.CartContents .CartProductFieldsRow		{border-top: 0;}
.CartContents .CartProductFieldsRow dl	{margin-top:15px;}

p.QuantityInput, p.AddCartButton		{text-align: center;}
.ProductAddToCart dt.QuantityInput		{margin-top: 4px;}
.ProductAddToCart dd.AddCartButton span	{margin-top: 4px; padding-right: 5px;}
.ProductActionAdd						{display: block; margin-top: 3px;}
.ProductActionAdd a,
.ProductActionAdd strong a				{text-decoration: underline;}

.TagList								{margin-top: 20px;}
.CartThumb								{text-align: center; width: 1px;}
.WrappingOptions						{font-size: 11px; color: #666; margin-top: 6px; padding-left: 22px; background: url('../../default/images/GiftWrappingAvailable.gif') no-repeat; padding-bottom: 4px; line-height: 1.6;}
.ViewAllLink a							{padding-top: 10px; display: block;}
.SelectGiftWrapMultiple					{max-height: 400px;}

/* Tabbed Navigation */
.TabNav									{list-style: none; margin: 25px 0 0; padding: 0;}
.TabNav li								{display: inline;}
.TabNav li a							{position: relative; top: -4px; font-weight: bold; font-size: 12px; padding: 7px 15px; margin: 0 2px 0 0; text-decoration: none; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.TabNav li a:hover						{text-decoration: none;}
.TabNav li.Active a						{margin-top: 0px;}
.ProductTabContent						{margin-top: 0; padding: 20px 20px 15px; border: 1px solid #e3dbd9; border-top: none;}
.ProductTabContent h3					{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px;}
.ProductTabContent h4					{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px; margin-bottom: 0;}

.ProductAddToCart dd.AddCartButton div.BulkDiscount							{display: inline-block; float:left;}
.ProductAddToCart dd.AddCartButton div.BulkDiscount div.BulkDiscountLink	{padding-left: 4px;}

#VendorLogo .BlockContent, #VendorPhoto .BlockContent						{margin: 0; text-align: center;}

.TransitTime																{font-weight: normal; color: gray;}

.Content .ProductList.List li						{margin: 0; margin-top: 6px; display: block; width: auto; float: none; padding: 6px; min-height: 0; height: 132px; background-image: none;}
.Content .ProductList.List .ProductImage			{margin: 0 !important; padding: 0px; margin-right: 15px; float: left; background-image: none; width: 120px; height: 120px;}
.Content .ProductList.List .ProductDetails			{height: auto; display: block; clear: none; padding: 0px; padding-left: 5px; margin: 0px; margin-left: 135px; text-align: left; background-image: none;}
.Content .ProductList.List .ProductQty				{margin-left: 10px;}
.Content .ProductList.List .ProductDescription		{font-style: italic; margin-top: 5px;}
.Content .ProductList .ProductRightCol				{float: right;}
.Content .ProductList.List li .ProductCompareButton	{text-align: left; margin-top: 10px;}

.OrderItemMessage									{background-color:#fff1a8; padding:7px; margin:10px 0px 10px 0px;}

/* Custom Fields - Start */
.LittleNotePassword									{color:gray; font-size: 0.85em; padding:2px 0px 2px 0px;}
.RequiredClear										{visibility: hidden;}
/* Custom Fields - End */

/* Product Details */
.ProductDetailsGrid .DetailRow					{clear: left; margin: 0 0 13px;}
.ProductDetailsGrid .Label						{margin: 0 3px 0 0; padding-bottom: 1px; display: inline; position: relative;}
.ProductDetailsGrid .Value						{display: inline;}
.ProductDetailsGrid .Label .Required			{position: absolute;left: -1em;}
.ProductDetailsGrid .RetailPrice .Label			{display: none;}
.ProductDetailsGrid .RetailPrice .Value			{}
.ProductDetailsGrid .RetailPrice .Value span	{font-size: 18px; color: #3a2c2c;}
.ProductDetailsGrid .Quantity input				{width: 35px;}
.ProductDetailsGrid .Quantity,
.ProductDetailsGrid .Quantity					{font-size: 12px;}
.ProductDetailsGrid .ShortDescription .Label	{display: none;}
.ProductDetailsGrid .ShortDescription .Value	{}
.ProductDetailsGrid .Included .Label			{display: block;}
.ProductDetailsGrid .Included .Value			{display: block;}
.ProductDetailsGrid .AddCartButton				{display: block;}
.ProductDetailsGrid ul							{margin-left: 13px; font-weight: bold; font-size: 13px;}
.ProductOptionList ul,
.ProductOptionList li							{list-style: none; margin: 0; padding: 0;}
.ProductOptionList li							{margin-bottom: 3px;}
.ProductOptionList input						{vertical-align: middle;}

/* Product Videos */
#FeaturedVideo,
#VideoList,
#VideoSingle 							{float: left;}
#VideoList								{padding-left: 5px;}
.VideoSeparator							{clear: both;}
.videoRow								{clear: both; margin-bottom: 4px; display: block; height: 75px;}
.previewImageContainer					{height: 30px; width: 50px;}
.videoRow img							{float: left; padding-right: 5px;}
.videoRowTitle							{font-weight: bold;}
.videoRowDescription					{max-height: 50px; overflow:hidden;}
.VideoOverlay							{background-image: url('../images/VideoOverlay.png'); background-position: center center; position: absolute; left: 0; height: 100%; width: 100%; top: 0;}
.VideoContentContainer					{position: relative; margin-left: 3px; padding-left: 92px;}

/** If you change the width of the .VideoPreviewSize class below, change the padding-left of the .VideoContentContainer class above **/
.VideoPreviewSize						{width: 92px; height: 69px;}
.videoRowLength							{padding-left: 4px;}
.videoRow, .videoRowTitle,
.videoRow img,
.videoRowLength							{cursor: pointer;}

#VideoList ul							{position: relative; overflow-y: auto; padding:0; margin: 0; width: 275px; height: 265px;}
#VideoSingle							{padding-left: 10px; width:275px;}
#VideoContainer							{padding: 5px 0 5px 5px; height: 265px;}

.HideElement							{display: none;}

.VideoSingleTitle						{font-weight: bold;}
.VideoSingleDescription					{padding-top: 10px; overflow-y: auto; height: 220px; padding-right:5px;}

.Left #VideoMiddleContainer,
.Right #VideoMiddleContainer			{display: none;}
.Content #VideoSideContainer			{display: none;}

#VideoSideContainer ul					{text-align: center;}
#VideoSideContainer ul li				{margin-bottom: 5px;}
.VideoSideDescription					{padding: 2px 10px;}
.VideoImageContainer					{position: relative; float: left;}

/** Search All Form Result - Start **/
.SearchPaging							{float: right; font-size: 0.95em;}
.SearchSorting							{float: right; font-size: 0.95em; margin: 8px 0px;}
.SearchSorting select					{font-size: 0.95em;}

#SearchResultsCategoryAndBrand			{margin: 5px; padding: 5px;}

.ContentList em,
.QuickSearchResultMeta em				{font-size: 0.8em;}

/** Search All Form Result - End **/

/** AJAX loading box - Start **/

#AjaxLoading							{display: none; text-align: center; background: #FCF5AA; width: 180px; z-index: 3000; padding: 5px 10px;}
#AjaxLoading img						{vertical-align: bottom; margin-right: 5px;}

/** AJAX loading box - End **/
#ProductDetails #ImageScrollPrev,
#ProductDetails #ImageScrollNext							{float: left; background:none; border:none; margin-top:16px; cursor:pointer; display: none;}
#ProductDetails .ProductTinyImageList						{float: left; margin:18px 0 10px; white-space:nowrap; overflow: hidden; margin-left:auto;}
#ProductDetails .ProductTinyImageList ul					{margin: 0 0 0 -14px; padding: 0pt; position: relative; list-style-type: none; white-space:nowrap; width: 2500px;}
#ProductDetails .ProductTinyImageList ul li					{width: 59px; height: 59px; overflow: hidden; float: left; margin-left:14px;}
#ProductDetails .ProductTinyImageList ul li div				{display: table-cell; text-align: center;}
#ProductDetails .ProductTinyImageList ul li img				{width: 57px; height: 57px; border: 1px solid #dfd8d6;}
#ProductDetails .ProductThumbImage							{height: 277px; width: 350px; overflow: hidden; margin:auto;}
#ProductDetails .ProductThumbImage img						{width: 348px; height: 275px; border: 1px solid #dfd8d6;}
#ProductDetails .ProductMain .OutOfStockMessage				{clear: left;}

.carousel													{position: relative; visibility: hidden; left: -5000px; width: 180px;}

/* Category flyout styles (structural) */

/* Menu containers */
#SideCategoryList .sf-menu,
#SideCategoryList .sf-menu ul,
#SideCategoryList .sf-menu li			{width: 140px; /* the width must be fixed to the use of floats */}

/* Menu links */
#SideCategoryList .sf-menu a			{padding: 4px 8px 4px 8px; width: 124px; /* this + paddings must equal the root width above for hovers to work */}

/* Child override: menu containers */
#SideCategoryList .sf-menu ul			{left: 140px;}

/* Child override: menu links */
#SideCategoryList .sf-menu ul a			{padding: 4px 8px 4px 8px; width: 124px; /* this + paddings must equal the child width above for hovers to work */}

/* End: category flyout styles */

/* Content Slider ======================================================== */
.HomepageSlider			{}
.jflow-content-slider				{width: 960px; height: 369px; padding-top: 1px; margin-bottom: 20px; background: url(../images/bg_slider.png) no-repeat; position: relative;}
#jFlowSlide							{margin: 4px 5px 5px;}
#slides								{}
.jFlowSlideContainer				{overflow: hidden !important;}
.slide-wrapper						{position: relative;}
.slide-wrapper .btn					{position: absolute; bottom: 23px; left: 15px;}
.slide-wrapper .btn a				{padding: 0px 35px 5px 15px; margin-right: 5px; font-size: 18px; font-family: 'CenturyGothicRegular'; color: #fff; text-decoration: none; background: url(../images/arrow_right.png) no-repeat; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
.slide-wrapper .btn a.collection	{background-color: #837572; background-position: 93% 50%;}
.slide-wrapper .btn a.buy			{background-color: #42b4d0; background-position: 90% 50%;}

#myController						{position: absolute; bottom: 20px; right: 323px;}
.jFlowControl						{display: inline-block; width: 16px; height: 16px; line-height: 16px; text-align: center; background-color: #a99996; font-size: 12px; font-family: 'CenturyGothicRegular'; color: #fff; cursor: pointer;}
.jFlowControl:hover, .jFlowSelected	{background-color: #837572;}
/* Why Beanbags */
.WhyBeanbags						{width: 289px; height: 348px; background: url(../images/bg_why_beanbags.png) no-repeat; position: absolute; top: 10px; right: 16px;}
.WhyBeanbags h3						{height: 65px; line-height: 61px; padding-left: 16px; margin: 6px 0 0 6px; color: #fff; font-size: 22px; font-family: 'CenturyGothicRegular'; background: url(../images/bg_why_beanbags_header.png) no-repeat;}
.WhyBeanbags div					{padding: 8px 10px 0 15px;}
.WhyBeanbags div ul					{padding-left: 10px; list-style-type: none;}
.WhyBeanbags div ul li				{padding-left: 25px; background: url(../images/asterisk_pink.png) no-repeat left center;}
.WhyBeanbags div ul li a			{line-height: 30px; font-size: 16px; color: #e45e69; border-bottom: 1px dotted #e45e69;}
.WhyBeanbags div ul li a:hover		{text-decoration: none;}
.WhyBeanbags div p					{margin-bottom: 5px;}
.WhyBeanbags div p.more a			{padding: 5px 35px 5px 15px; font-size: 14px; color: #fff; background: #e45e69 url(../images/arrow_right.png) no-repeat 90% 50%; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}

