@import 'global/common';

// Section/Components
@import 'components/form';
@import 'components/form-login';
@import 'components/logo-intro';
@import 'components/language-selector';
@import 'components/spinner';

body,
.csstransforms .menubile-content {
    background-color: #af0000;
    font-size: 12px;
}

.language-switcher-locale-url {
    margin-top: 120px;

    @include media("landscape", "<tablet") {
        width: 320px;
        margin-top: 40px;
    }

    @include media(">=tablet") {
        width: 320px;
    }
}