/*    CSS Helpers
    ======================================================================================== */

// clearfix
.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
}

// hide text
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 26px;
    @include box-sizing();
}

@-ms-viewport {
    width: device-width;
}

// Floats
.pull-left, .left { float: left; }
.pull-right, .right { float: right; }

// Display
.block { display: block; }
.inline { display: inline; }
.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.hidden, 
[hidden] {
  display: none;
}

// Text Position
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

@include media("<tablet") {
    .text-center-mobile {
        text-align: center;
    }
}


// Text tranformation
.text-lowercase {text-transform: lowercase;}
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}

// Miscellaneous
.no-padding {
    margin-left: -$side-gap;
    margin-right: -$side-gap;

    img {
        width: 100%;
    }

    @include media(">=tablet") {
        margin-left: -($side-gap + $side-gap-addition);
        margin-right: -($side-gap + $side-gap-addition);
    }
}

// Lead copy
.lead {
    font-size: 17px;
    line-height: 24px;
}

// Margins
@include margin('mt', 'margin-top');
@include margin('mb', 'margin-bottom');
@include margin('ml', 'margin-left');
@include margin('mr', 'margin-right');

@include media("<tablet") {
    @include margin('mt-mobile', 'margin-top');
    @include margin('mb-mobile', 'margin-bottom');
    @include margin('ml-mobile', 'margin-left');
    @include margin('mr-mobile', 'margin-right');
}

.visible-mobile {
    display: inherit !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-mobile {
    display: none !important;
}

.hidden-tablet {
    display: inherit !important;
}



@include media(">=tablet") {
    .visible-mobile {
        display: none !important;
    }

    .visible-tablet {
        display: inherit !important;
    }

    .hidden-mobile {
        display: inherit !important;
    }

    .hidden-tablet {
        display: none !important;
    }
}