/* contact-toggle */
.contact-toggle						{clear: both; margin: 0;}
.toggle								{margin: 0 0 4px; padding: 8px 12px; background: #bdab9e; text-transform: uppercase;}
.contact-toggle h3					{margin-bottom: 0px;}
.contact-toggle h3 a				{display: block; font: normal 29px/29px 'Impact'; color: #0a8ad6; background: url(../images/arrow_toggle_down.png) no-repeat right center;}
.contact-toggle h3 a:hover			{text-decoration: none;}
.contact-toggle h3 a.current,
.contact-toggle h3 a.current:hover	{background-image: url(../images/arrow_toggle_up.png);}
.answer								{padding: 1px 2px 34px; font-size: 17px; color: #7f7167;}

/* Content */

