.header,
.logo a,
.navobile-link {
	@include transition(all .3s);
}

.header.affix,
.category-tab.affix {
	position: fixed;
	top: 0;
	z-index: 10000;
	width: 100%;
	background: $header-mini-bg;

	@include media("<tablet") {
		width: 100%;
	}
}