.contact-option {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 0;
    font-size: 12px;
    line-height: 18px;

    li {
        position: relative;
        min-height: 41px;
        height:auto !important;
        height: 41px;
        margin-bottom: 17px;
        padding-left: 47px;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
    }

    a {
        font-size: 14px;
        text-decoration: none;
    }

    select {
        display: block;
        width: auto;
    }

    .one-liner {
        line-height: 41px;
    }
}