// Inherits from _logo.scss

.login {
    &-logo,
    &-logo a {
        width: 242px;
        height: 56px;
    }

    &-logo {
        margin: 50px auto 20px;

        @include media("landscape", "<600px") {
            margin-top: 20px;
        }

        @include media(">=tablet") {
            float: none;
        }
    }

    &-logo img {
        
    }
}