.category-tab {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #af0000;

    ul {
        @extend .clearfix;
        // width: 600px; // should be wide enough for all category items
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
        border-left: 1px solid #d30000;
    }

    a {
        float: left;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        border-left: 1px solid #750101;
        color: #fff;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            background-color: #750101;
            color: #e5c99b;
        }
    }

    li:first-child {
        &,
        a {
            border-left: none;
        }
    }

    img {
        
    }

    span {
        
    }
}