
/* CSS RESETS ================================= */
html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
table						{border-collapse: collapse; border-spacing: 0;}
caption, th, td				{text-align: left; font-weight: normal;}
table, td, th				{vertical-align: middle;}
a img						{border:none;}

/* GLOBAL STYLE ================================ */
html						{background: #035d7d url(../images/texture_bg.png) repeat;}
body						{font: normal 12px/16px Verdana, Geneva, sans-serif; text-decoration: none; text-align: center; color: #e6eef2; background: url(../images/bg_top.png) no-repeat center top; margin: 0; padding: 0 0 70px;}
a							{text-decoration: none; color: #f2b400; outline: none;}
a:hover						{text-decoration: underline;}
h1, h2, h3, h4, h5, h6, p,
ul, table					{margin: 1em 0;}
h1							{font-size: 24px;}
h2							{font-size: 27px; color: #a3cee6; font-weight: bold; text-transform: uppercase;}
h2							{text-shadow: 0px -1px 0px #000;}
h3							{font-size: 14px;}
h4, h5, h6					{font-size: 12px;}
p							{overflow: hidden;}
strong						{font-weight: bold;}
em							{font-style: italic;}
hr							{clear: both; height: 1px; margin: 0 0 1em; color: #1c4c5f; background-color: #1c4c5f;  border: 0 none; text-shadow: none;}

/* UTILITIES =================================== */
.clearfix:after					{visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
* html .clearfix				{zoom: 1;} /* IE6 */
*+html .clearfix				{zoom: 1;} /* IE7 */

.clear							{clear: both;}
.center							{text-align: center;}
.right							{text-align: right;}
.fl								{float: left;}
.fr								{float: right;}

/* WRAPPER ===================================== */
#wrapper 						{width: 983px; min-height: 700px; text-align: left; margin: 0 auto;}

/* HEADER ===================================== */
#header								{height: 128px; margin-bottom: 30px; padding: 1px 0; position: relative;}
#header h1							{margin: 0;}
#header h1 a						{display: block; width: 369px; height: 86px; background: url(../images/logo.png) no-repeat; text-indent: -9999px; position: absolute; top: 10px; left: 0;}
#header p							{margin: 0;}
#header .top-menu					{margin: 0; list-style-type: none; position: absolute; top: 10px; right: 0;}
#header .top-menu li				{display: inline;}
#header .top-menu li a				{padding: 0 8px; border-left: 1px solid #000; color: #000; font-size: 11px; text-transform: uppercase;}
#header .top-menu li:first-child a	{padding-left: 0; border: none;}
#header .invite						{width: 240px; height: 53px; text-align: center; background: url(../images/invite_friends_bg.png) no-repeat; position: absolute; top: 32px; right: 0;}
#header .invite a					{display: inline-block; height: 19px; margin-top: 18px; padding-right: 30px; background: url(../images/invite_friends_icon.png) no-repeat right center; color: #035776; text-transform: uppercase;}

#header .bar						{width: 100%; height: 31px; position: absolute; bottom: 0px; line-height: 29px;}
#header .bar span					{}
#header .bar-left					{float: left; display: inline;}
#header .bar-left a.view			{float: left; display: inline; width: 136px; height: 31px; background: url(../images/top_bar_view_products.png) no-repeat; text-indent: -9999px;}
#header .bar-left a.view:hover		{background-image: url(../images/top_bar_view_products_hover.png);}
#header .bar-left span				{padding-left: 10px; font-size: 11px; color: #939393; text-transform: uppercase;}
#header .bar-left span strong		{color: #f0f0f0; font-weight: normal;}
#header .bar-right					{float: right; display: inline;}
#header .bar-right .items			{float: left; display: inline; width: 80px; height: 31px; padding-left: 11px; text-align: center; background: url(../images/top_bar_items_bg.png) no-repeat;}
#header .bar-right .expires			{float: left; display: inline; width: 158px; height: 31px; text-align: center; background: url(../images/top_bar_expires_bg.png) no-repeat; font-size: 11px; color: #c7c7c7;}
.textshadow #header .bar-right .expires	{text-shadow: 0px -1px 0px #000;}
#header .bar-right .expires strong	{font-size: 12px; color: #fff; font-weight: normal;}
#header .bar-right a.cart			{float: left; display: inline; width: 126px; height: 31px; background: url(../images/top_bar_cart.png) no-repeat; text-indent: -9999px;}
#header .bar-right a.cart:hover		{background-image: url(../images/top_bar_cart_hover.png);}

/* CONTENT ===================================== */
#content							{width: 974px;}

/* Product Listing */
.product-list						{clear: both; margin: 0 0 0 -10px; list-style-type: none;}
.product-list li					{float: left; display: inline; width: 312px; height: 233px; margin: 0 0 30px 10px; background-color: #fbfbfb; border: 3px solid #000; border-top-width: 4px; border-bottom: none; position: relative;}
.product-list li p					{margin: 0;}
.product-list .details				{width: 166px; text-align: center; position: absolute; top: 16px; left: 20px;}
.product-list .details .name		{height: 46px; padding-bottom: 14px; margin-bottom: 10px; background: url(../images/underline.png) no-repeat left bottom; color: #000; font-size: 14px; line-height: 15px;}
.product-list .details .retail		{margin-bottom: 10px; color: #909090; font-size: 16px; position: relative;}
.product-list .details .retail small {display: block; font-size: 10px;}
.product-list .details .retail img	{position: absolute; top: -5px; left: 42px;}
.product-list .details .price		{margin-bottom: 10px; color: #333; font-size: 22px;}
.product-list .details .btn			{}
.product-list .details .btn a		{display: inline-block; width: 160px; height: 33px; background: url(../images/btn_view_details.png) no-repeat; text-indent: -9999px;}
.product-list .details .btn a:hover	{background-image: url(../images/btn_view_details_hover.png);}
.product-list .thumb				{position: absolute; top: 0; right: 7px;}
.product-list .thumb img			{}
.product-list .bottom-bar			{width: 100%; height: 34px; line-height: 32px; background: #000 url(../images/product_list_bottom_bar.png) repeat-x; color: #f0f0f0; text-align: center; font-size: 13px; text-transform: uppercase; position: absolute; bottom: 0;}
.product-list img.new-sticker		{position: absolute; top: -10px; right: -9px; z-index: 2;}

.collateral .related-products		{clear: both; padding-bottom: 10px; background: url(../images/bg_black_transparent.png) repeat-x left top; overflow: hidden;}
.hsla .collateral .related-products	{background: hsla(210,0%,0%,0.1) url(../images/underline_widest.png) no-repeat center top;}
.borderradius .collateral .related-products	{-moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;}
.collateral .related-products h3	{margin: 30px 40px; padding: 0; background: none;}

/* Product Details */
.product-detail						{width: 966px; height: 453px; background-color: #e6eef2; border: 4px solid #080808; border-bottom: none;}
.product-detail a					{color: #035776;}
.product-thumb						{float: left; display: inline; width: 530px;}
.product-thumb img					{}
.product-main						{float: right; display: inline; width: 383px; margin: 30px 20px 0 0; color: #000;}
.product-main p						{margin-top: 0;}
.product-main h2					{font-size: 19px; line-height: 22px; margin: 0; color: #000; font-weight: normal; text-shadow: none;}
.product-main .type					{font-size: 19px; text-transform: uppercase; line-height: 22px; color: #035776;}
.product-main .type a				{}
.product-main .category				{height: 35px; line-height: 32px; background: url(../images/underline_product_details.png) no-repeat; font-size: 10px; color: #035776;}
.product-main .category a			{font-size: 10px;}
.product-main .add-info				{color: #333;}
.product-main .retail				{}
.product-main .retail strong		{font-size: 19px; color: #035776; font-weight: normal; position: relative;}
.product-main .retail strong img	{position: absolute; top: -2px; left: -7px;}
.product-main .retail small			{font-size: 11px; color: #6b6b6b;}
.product-main .add-cart-box									{height: 46px; line-height: 46px;}
.product-main .add-cart-box p								{float: left; display: inline;}
.product-main .add-cart-box .price							{margin-right: 23px; font-size: 23px; color: #035776;}
.product-main .add-cart-box .quantity						{margin-right: 8px;}
.product-main .add-cart-box .quantity input					{float: left; display: inline; width: 49px; height: 42px; margin-right: 2px; border: 1px solid #c6c6c6; text-align: center; vertical-align: middle; color: #333; font: bold 23px Arial, Helvetica, sans-serif;}
.product-main .add-cart-box .quantity span					{float: left; display: inlne; width: 24px;}
.product-main .add-cart-box .quantity span a				{display: block; width: 24px; height: 23px; background: url(../images/btn_plus_minu.png) no-repeat; text-indent: -9999px;}
.product-main .add-cart-box .quantity span a.plus			{}
.product-main .add-cart-box .quantity span a.plus:hover		{background-position: left bottom;}
.product-main .add-cart-box .quantity span a.minus			{background-position: right top;}
.product-main .add-cart-box .quantity span a.minus:hover	{background-position: right bottom;}
.product-main .add-cart-box .cart-btn						{float: left; display: inline;}
.product-main .add-cart-box .cart-btn a						{display: block; width: 152px; height: 45px; background: url(../images/btn_add_to_cart.png) no-repeat; text-indent: -9999px;}
.product-main .add-cart-box .cart-btn a:hover				{background-position: left bottom;}
.product-main .expires					{clear: both; height: 48px; line-height: 47px; margin-right: -20px; margin-bottom: 0; padding-left: 25px; background: url(../images/sale_expire_bar.png) no-repeat; color: #fff; text-transform: uppercase;}
.textshadow .product-main .expires		{text-shadow: 0px -1px 0px #000;}
.product-bar							{clear: both; height: 110px; margin: 0 -4px; background-color: #2e2e2e; border: 4px solid #3c3c3c; color: #9c9c9c;}
.product-bar							{background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #3B3B3B), color-stop(1.00, #222222)); background-image: -moz-linear-gradient(center top, #3B3B3B 0%, #222222 100%);}
.product-bar ul							{float: left; margin: 2px 0 0 3px; list-style-type: none;}
.product-bar ul li						{float: left; display: inline;}
.product-bar ul li a					{}
.product-bar ul li a img				{margin-right: 7px;}
.product-bar .share-box					{}
.share-box								{float: right; display: inline; width: 397px; height: 101px; margin: 4px 5px 0 0; padding: 1px 0; background-color: #1c1c1c; border: 1px solid #414141;}
.share-box								{background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #000000), color-stop(0.75, #272727)); background-image: -moz-linear-gradient(center bottom, #000000 25%, #272727 75%);}
.hsla .share-box						{border: 1px solid hsla(0,0%,34%,0.75);}
.share-box p							{margin: 0 11px; padding: 0 8px; font-size: 11px; line-height: 13px;}
.share-box p.share						{height: 30px; line-height: 28px; margin-top: 10px; background-color: #000; border: 1px solid #3c3c3c; color: #e2ad2a; font-size: 10px; text-transform: uppercase; position: relative; z-index: 1;}
.hsla .share-box p.share				{border: 1px solid hsla(0,0%,34%,0.70);}
.share-box p.share span					{margin-right: 4px;}
.share-box p.share a					{}
.share-box p.share img					{margin-left: 0px; vertical-align: middle;}
.share-box p.url						{height: 25px; line-height: 25px; padding-top: 10px; margin-top: -10px; background-color: #2c2d2e; color: #878787; position: relative; z-index: 0;}
.share-box p.credit						{padding-top: 4px;}
.share-box p.credit span				{color: #fff;}
.borderradius .share-box,
.borderradius .share-box p				{-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}

/* Product Collateral */
.collateral							{width: 100%; padding-top: 50px; background: url(../images/collateral_bg.png) repeat-x left top; text-shadow: 0px -1px 0px #003f56; overflow: hidden;}
.collateral .col-one				{float: left; display: inline; width: 406px; margin: 0 0 0 35px;}
.collateral .col-two				{float: right; display: inline; width: 406px; margin: 0 35px 0 0;}
.collateral .block					{margin-bottom: 40px; overflow: hidden;}
.collateral h3						{padding: 0 0 18px 0; margin-top: 0; background: url(../images/underline_product_collateral.png) no-repeat left bottom; font-size: 16px; font-weight: normal; text-transform: uppercase;}
.collateral .block-critic ul		{margin: 0; list-style-type: none;}
.collateral .block-critic li h4		{font-size: 14px; font-weight: normal;}
.collateral .block-critic li h4 span{float: right;}
.collateral .block-critic li q		{font-style: italic;}
.collateral .block-critic li .date	{margin: 5px 0 25px; font-size: 13px;}
.collateral .block-wlreview h3		{font-size: 19px; padding-bottom: 16px;}
.collateral .block-bacchus img		{float: left; display: inline; margin: 0 28px 0 20px;}

/* Cart Contents*/
#cart-content						{padding-top: 20px;}
#cart-content h2					{float: left; margin: 0;}
#cart-content p.alert				{float: right; margin: 0; width: 300px; background: #024861; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px;}
.cssgradients #cart-content p.alert {background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, rgba(0,0,0,0.13)), color-stop(0.65, rgba(0,0,0,0.06))); background: -moz-linear-gradient(center top, rgba(0,0,0,0.13) 25%, rgba(0,0,0,0.06) 65%);}
#cart-content p.alert small			{display: block; margin-left: 15px; padding: 5px 15px 7px 30px; background: url(../images/cart_alert_icon.png) no-repeat left center; font-size: 11px;}

.cart-table							{clear: both; width: 100%; margin: 15px 0 0; border: 3px solid #000; border-collapse: collapse;}
.cart-table a						{color: #fff;}
.cart-table th						{height: 38px; line-height: 38px; padding: 0 15px; background: url(../images/cart_header_bg.png) repeat-x left top; border-bottom: 1px solid #4b545d; color: #0b3245; font-size: 13px; text-shadow: 0px 1px 0px #fefefe;}
.cart-table small					{font-size: 11px;}
.cart-table td						{padding: 7px;}
.cart-table .item td				{background: url(../images/cart_bg_transparent_shadow.png) repeat-x left top;}
.cart-table .thumb					{width: 105px; text-align: center;}
.cart-table .thumb img				{border: 1px solid #88bbd2;}
.cart-table .name					{width: 330px; font-size: 13px; text-transform: uppercase;}
.cart-table .quantity						{}
.cart-table .quantity input					{float: left; display: inline; width: 49px; height: 42px; margin-right: 2px; border: 1px solid #c6c6c6; text-align: center; vertical-align: middle; color: #333; font: bold 23px Arial, Helvetica, sans-serif;}
.cart-table .quantity span					{float: left; display: inlne; width: 24px; margin-right: 12px;}
.cart-table .quantity span a				{display: block; width: 24px; height: 23px; background: url(../images/btn_plus_minu.png) no-repeat; text-indent: -9999px;}
.cart-table .quantity span a.plus:hover		{background-position: left bottom;}
.cart-table .quantity span a.minus			{background-position: right top;}
.cart-table .quantity span a.minus:hover	{background-position: right bottom;}
.cart-table .quantity em					{line-height: 42px; font-style: normal;}
.cart-table .quantity em big				{margin-left: 2px; font-size: 15px;}
.cart-table .cost					{width: 115px;}
.cart-table .price					{width: 85px; font-size: 22px; text-align: right;}
.cart-table .action					{width: 55px; text-align: center;}
.cart-table .action a				{display: inline-block; width: 35px; height: 34px; background: url(../images/cart_remove_btn.png) no-repeat; text-indent: -9999px;}
.cart-table .action a:hover			{background-position: left bottom;}
.cart-table .addition td			{padding: 6px 7px; background: url(../images/cart_bg_transparent_shadow_2.png) repeat-x left top;}
.cart-table .addition td a			{color: #e4b335;}
.cart-table .bottle					{text-align: center;}
.cart-table .bottle img				{margin: 0 2px;}
.cart-table-credit					{border-color: #a4c1db;}
.cart-table-credit th				{box-shadow: 0px 5px 20px rgba(0,0,0,0.2);}
.cart-table-credit td				{padding-top: 10px; padding-bottom: 10px; font-size: 13px;}
.cart-table-credit .credit-text		{font-size: 13px; text-transform: uppercase; text-align: center;}
.cart-table-credit .credit-price	{font-size: 15px;}
.cart-table-credit .select em		{float: left; display: inline; margin: 0 20px 0 30px; line-height: 31px; font-style: normal;}
.cart-table-credit .checker			{padding: 5px; background: #0e5c79; border-radius: 6px;}
.cssgradients .cart-table-credit .checker	{background: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, rgba(0,0,0,0.13)), color-stop(0.65, rgba(0,0,0,0.06))); background: -moz-linear-gradient(center top, rgba(0,0,0,0.13) 25%, rgba(0,0,0,0.06) 65%);}
.cart-table-credit input			{vertical-align: middle;}
.cart-table-summary					{float: right; width: 400px; margin: 37px 72px 150px 0; border-collapse: collapse;}
.cart-table-summary	td				{padding: 10px 5px; /*border: 1px solid #ccc;*/}
.cart-table-summary .text			{font-size: 14px; text-align: right;}
.cart-table-summary .price			{font-size: 22px; color: #e4b335; text-align: right; width: 100px;}
.cart-table-summary .btn td				{}
.cart-table-summary .btn a				{float: right; width: 152px; height: 47px; background: url(../images/sprite_shopping_checkout.png) no-repeat left top; text-indent: -9999px;}
.cart-table-summary a.keep-shop			{}
.cart-table-summary a.keep-shop:hover	{background-position: left bottom;}
.cart-table-summary a.checkout			{background-position: right top; margin-left: 10px;}
.cart-table-summary a.checkout:hover		{background-position: right bottom;}
.cart-table-summary .ship-info		{padding-top: 0px; font-size: 10px; font-style: italic; text-align: right;}
.cart-table-summary .ship-info a	{color: #fff;}

.empty-cart							{clear: both; width: 966px; height: 369px; margin: 0 0 120px; border: 4px solid #000; background: url(../images/cart_empty_bg.jpg) no-repeat; color: #000; text-align: right; position: relative;}
.empty-cart							{text-shadow: 1px 1px 0px #e6eef2;}
.empty-cart h3						{margin: 35px 0 12px; font-size: 22px; text-transform: uppercase;}
.empty-cart p						{font-size: 11px;}
.empty-cart h3, .empty-cart p		{margin-right: 35px;}
.empty-cart .btn-home				{display: block; width: 152px; height: 47px; background: url(../images/btn_home.png) no-repeat; text-indent: -9999px; text-align: left; position: absolute; bottom: -73px; right: 35px;}
.empty-cart .btn-home:hover			{background-position: left bottom;}

.confirm-content					{margin: 0 -9px 70px 0; overflow: hidden;}
.confirm-content .farm				{float: left; display: inline; border: 4px solid #000;}
.confirm-detail						{float: right; display: inline; width: 336px; line-height: 18px; text-shadow: 0px -1px 0px #000;}
.confirm-detail h3					{margin: 0 0 15px; padding-bottom: 20px; border-bottom: 1px solid #1c4555; font-size: 22px; text-transform: uppercase;}
.rgba .confirm-detail h3			{border-bottom: 2px groove rgba(0,0,0,0.20);}
.confirm-detail h4					{}
.confirm-detail p					{}
.confirm-detail hr					{margin: 30px 0;}
.confirm-detail .share-box			{float: none; display: block; width: auto; margin: 4px 5px 0 0;}
.confirm-detail .btn-home			{display: block; width: 152px; height: 47px; background: url(../images/btn_home.png) no-repeat; text-indent: -9999px; text-align: left;}
.confirm-detail .btn-home:hover		{background-position: left bottom;}

.review-content						{padding-bottom: 50px; overflow: hidden;}
.review-table						{float: left; display: inline; width: 623px; margin: 0;}
.review-table td					{padding: 15px 10px 15px 0; font-size: 13px; text-shadow: 0px -1px 0px #000;}
.review-table td a					{color: #fff;}
.review-table .item td				{border-top: 1px solid #1c4555; border-bottom: 1px solid #1c4555; text-transform: uppercase;}
.rgba .review-table .item td		{border-top: 2px groove rgba(0,0,0,0.20); border-bottom: 2px groove rgba(0,0,0,0.20);}
.review-table .name					{}
.review-table .qty					{width: 105px; font-size: 15px;}
.review-table .qty .num				{font-size: 17px; color: #f2b400;}
.review-table .qty small			{font-size: 11px;}
.review-table .price				{width: 120px; text-align: right; font-size: 17px; color: #f2b400;}
.review-table .summary td			{padding-top: 10px; padding-bottom: 10px; text-align: right;}
.review-table .sum-padd-top td		{padding-top: 30px;}
.review-table .sum-padd-bottom td	{padding-bottom: 30px;}
.review-table .sum-total .total		{padding-top: 17px; padding-bottom: 17px; border-top: 1px solid #1c4555; border-bottom: 1px solid #1c4555; background-color: #046082; font-size: 15px;}
.review-table .sum-total .price		{font-size: 22px;}
.rgba .review-table .summary .total	{border-top: 2px groove rgba(0,0,0,0.20); border-bottom: 2px groove rgba(0,0,0,0.20);}
.review-table .btn td				{padding-top: 40px; padding-right: 0;}
.review-table .btn a				{float: right; width: 152px; height: 47px; background: url(../images/sprite_shopping_checkout.png) no-repeat left top; text-indent: -9999px;}
.review-table a.keep-shop			{}
.review-table a.keep-shop:hover		{background-position: left bottom;}
.review-table a.checkout			{background-position: right top; margin-left: 10px;}
.review-table a.checkout:hover		{background-position: right bottom;}
.review-table .card-info			{padding-top: 0px; font-size: 10px; font-style: italic; text-align: right;}
.review-content .address			{float: right; display: inline; width: 310px; border: 3px solid #d1dce2; background-color: #dce5e9; color: #004a65;}
.review-content .address			{-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
.review-content .address h3			{margin-top: 20px; font-size: 15px;}
.review-content .address p			{margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #bdcfd9;}
.review-content .address h3,
.review-content .address p			{margin-left: 30px; margin-right: 30px;}

.checkout-content							{margin-bottom: 50px; text-shadow: 0px -1px 0px #000; overflow: hidden;}
.checkout-content .col-one					{float: left; display: inline; width: 614px;}
.checkout-content .col-two					{float: right; display: inline; width: 340px;}
.checkout-content h3						{font-size: 15px;}
.checkout-content .box						{padding: 10px 20px 20px 25px; border: 3px solid #d1dce2; background-color: #dce5e9; color: #004a65; text-shadow: 0px 1px 0px #fff;}
.checkout-content .box						{-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
.checkout-content .btn						{display: inline-block; vertical-align: middle; margin-right: 10px; padding: 6px 15px 8px; border: 1px solid #b8c2c6; background-color: #fff; font-size: 11px; color: #000;}
.cssgradients .checkout-content .btn		{background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #f7fcff), color-stop(1.00, #e0e4e5)); background-image: -moz-linear-gradient(center top, #f7fcff 0%, #e0e4e5 100%); -pie-background: linear-gradient(center top, #f7fcff 0%, #e0e4e5 100%); behavior: url(js/PIE.htc); box-shadow: inset -1px -1px 0px rgba(255,255,255,1.0);}
.cssgradients .checkout-content .btn:hover	{background-image: none;}
.checkout-content .btn:hover				{border-color: #627d89; text-decoration: none;}
.checkout-content .box hr					{margin: 15px 0 20px; color: #bdcfd9; background-color: #bdcfd9;}
.checkout-content .box input[type="text"]	{padding: 7px; border: 1px solid #b8c2c6;}
.checkout-content .box select				{font-size: 11px;}
.checkout-content .box .address				{padding: 10px 15px; background-color: #edf2f4;}
.checkout-content .card-num					{overflow: hidden;}
.checkout-content .card-num span			{float: left; display: inline;}
.checkout-content .card-num .num			{margin-right: 10px;}
.checkout-content .card-num .num input		{display: block; width: 210px; margin-top: 5px;}
.checkout-content .card-num .ccv			{margin-right: 50px;}
.checkout-content .card-num .ccv input		{display: block; width: 50px; margin-top: 5px;}
.checkout-content .card-num .support		{margin-top: 5px; font-size: 11px;}
.checkout-content .card-num .support img	{display: block; margin-top: 5px;}
.checkout-content .card-expire				{overflow: hidden;}
.checkout-content .card-expire span			{float: left; display: inline; margin-right: 50px;}
.checkout-content .card-expire span span	{margin-right: 0;}
.checkout-content .card-expire span em		{display: block; font-style: normal; margin-bottom: 5px;}
.checkout-content .card-expire .save-cbox	{margin-top: 25px;}
.checkout-content .box .billing-cbox span	{margin-right: 20px;}
.checkout-content .box input,
.checkout-content .btn						{-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.checkout-content .main-btn					{margin: 30px 0 5px; text-align: right;}
.checkout-content .main-btn a				{display: inline-block; width: 152px; height: 47px; background: url(../images/sprite_back_cart_review.png) no-repeat left top; text-indent: -9999px; text-align: left;}
.checkout-content .main-btn .back			{}
.checkout-content .main-btn .back:hover		{background-position: left bottom;}
.checkout-content .main-btn .review			{background-position: right top; width: 175px; margin-left: 10px;}
.checkout-content .main-btn .review:hover	{background-position: right bottom;}
.checkout-content p.info					{clear: both; margin: 0; text-align: right; color: #fff; font-size: 11px; font-style: italic;}
.checkout-content .summary					{}
.checkout-content .summary p				{height: 25px; line-height: 25px;}
.checkout-content .summary p span.text		{float: left; display: inline; width: 130px; text-align: right; font-size: 15px; color: #fff;}
.checkout-content .summary p span.price		{float: right; display: inline; margin-right: 20px; font-size: 22px; color: #f2b400;}
.checkout-content .summary p.total			{height: 50px; line-height: 50px; margin-top: 20px; border-top: 1px solid #1c4555; border-bottom: 1px solid #1c4555; background-color: #045573;}
.rgba .checkout-content .summary p.total	{border-top: 2px groove rgba(0,0,0,0.20); border-bottom: 2px groove rgba(0,0,0,0.20); background-color: rgba(0,0,0,0.12);}
.checkout-content .terms					{margin-top: 101px; padding: 10px 0 10px; border-top: 1px solid #045674;  font-size: 11px;}
.rgba .checkout-content .terms				{border-top: 2px groove rgba(0,0,0,0.20);}

/* Signup Page */
body.signup									{background-image: url(../images/bg_top_no_bar.png);}
body.signup #header h1 a					{top: 25px;}
body.signup #header p						{float: right; display: inline; margin: 50px 0 0; font-size: 18px; color: #1e3f61; text-shadow: 0px 1px 0px #fff;}
body.signup #content						{margin-bottom: 50px; overflow: hidden; text-shadow: 0px -1px 0px #000;}
body.signup #content .col-one				{float: left; display: inline; width: 614px;}
body.signup #content .col-one .box			{padding: 40px 20px 30px 25px; border: 3px solid #d1dce2; background-color: #dce5e9; color: #004a65; text-shadow: 0px 1px 0px #fff;}
body.signup #content .col-one .box			{-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
body.signup #content .col-two				{float: right; display: inline; width: 340px;}
body.signup #content .col-two img			{border: 4px solid #000;}
body.signup #content dl						{overflow: hidden;}
body.signup #content dl dt					{clear: left; float: left; display: inline; width: 170px; padding-top: 5px; text-align: right;}
body.signup #content dl dd					{margin-left: 180px; margin-bottom: 5px; margin-right: -20px; overflow: hidden;}
body.signup #content input[type="text"]		{width: 215px; padding: 5px 5px; border: 1px solid #b8c2c6; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
body.signup #content select					{font-size: 11px;}
body.signup #content hr						{margin: 15px 0 20px; color: #bdcfd9; background-color: #bdcfd9;}
body.signup #content p.note					{font-size: 10px; font-style: italic;}
body.signup #content .terms					{margin-bottom: 40px; text-align: center;}
body.signup #content .terms a				{color: #000; text-decoration: underline;}
body.signup #content .reg-btn				{text-align: center;}
body.signup #content .reg-btn a				{display: block; width: 151px; height: 47px; margin: 0 auto; background: url(../images/btn_register.png) no-repeat; text-indent: -9999px;}
body.signup #content .reg-btn a:hover		{background-position: left bottom;}
body.signup #content small					{font-size: 11px;}

ul.links									{margin: 0 0 15px; background: url(../images/border_line.png) repeat-x left top; list-style-type: none; overflow: hidden;}
ul.links li									{padding: 12px 10px; background: url(../images/border_line.png) repeat-x left bottom; text-shadow: 0px -1px 0px #000;}
ul.links li a								{color: #fff; text-transform: uppercase;}
ul.links li a:hover, ul.links li.current a	{color: #f2b400; text-decoration: none;}

/* Account Pages */
.account-content							{padding-bottom: 50px; overflow: hidden;}
.account-content .col-one					{float: left; display: inline; width: 246px;}
.account-content .col-two					{float: right; display: inline; width: 658px;}
.account-content .box						{padding: 5px 20px 30px 25px; border: 3px solid #d1dce2; background-color: #dce5e9; color: #004a65; text-shadow: 0px 1px 0px #fff;}
.account-content .box						{-moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
.account-content .box h3					{font-size: 18px; }
.account-content .box h4					{font-size: 15px;}
.account-content .box hr					{margin: 20px 0 20px; color: #bdcfd9; background-color: #bdcfd9;}
*+html .account-content .box hr				{margin: 1px 0;}
.account-content .box input[type="text"]	{display: block; width: 266px; padding: 7px 10px; margin: 3px 0 0; border: 1px solid #b8c2c6; color: #02739c; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.account-content .box input					{vertical-align: middle;}
.account-content .box small					{color: #515151; font-size: 10px; line-height: normal;}
.account-content .box .two-cols				{overflow: hidden;}
.account-content .box .two-cols span		{}
.account-content .box .three-cols input[type="text"] {width: 170px;}
.account-content .box .three-cols .fl		{margin-right: 22px;}
.account-content .box .block				{padding: 1px 15px; background-color: #edf2f4; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;}
.account-content .btn						{margin-top: 20px;}
.account-content .btn input					{display: block; width: 151px; height: 47px; background: url(../images/btn_submit.png) no-repeat; border: none; text-indent: -9999px; cursor: pointer;}
.account-content .btn input:hover			{background-position: left bottom;}
.account-content div.selector				{float: none; display: block;}
.account-content div.selector span			{width: 125px;}
.account-content div.selector select		{width: 165px;}
.account-content .block-address				{float: left; display: inline; width: 460px; margin-bottom: 10px; overflow: hidden;}
.account-content .block-address .address		{float: left; display: inline; width: 220px;}
.account-content .block-address .shipping-add	{float: left; display: inline; width: 105px; text-align: center; color: #678a99; font-size: 11px; margin-right: 20px;}
.account-content .block-address .billing-add	{float: left; display: inline; width: 105px; text-align: center; color: #678a99; font-size: 11px;}
.account-content .block-address img				{display: block; margin: 10px auto 0;}
.account-content .box .note					{clear: both;}
.account-content .box p.btn a				{display: inline-block; height: 36px; background: no-repeat; text-indent: -9999px;}
.account-content .box p.btn a.add-address	{width: 138px; background-image: url(../images/btn_add_address.png);}
.account-content .box p.btn-option			{float: right; display: inline; width: 110px;}
.account-content .box p.btn-option .edit	{width: 64px; background-image: url(../images/btn_edit.png);}
.account-content .box p.btn-option .remove	{width: 36px; background-image: url(../images/address_management_10.png);}
.account-content .box p.btn a:hover			{background-position: left bottom;}
.account-content .box .date-bar				{width: 234px; height: 48px; background: url(../images/h_bar.png) no-repeat; margin: 0; color: #fff; font-size: 13px; text-align: center; line-height: 41px; position: absolute; top: -22px; left: -40px; text-shadow: 0px 1px 0px #000;}
/* Management Edit */
.account-content .block input[type="text"]				{width: 245px;}
.account-content .block .two-cols						{overflow: hidden;}
.account-content .block .two-cols span					{}
.account-content .block .three-cols input[type="text"]	{width: 156px;}
.account-content .block .three-cols .fl					{margin-right: 22px;}
.account-content .block .btn-opt						{margin: 20px 0;}
.account-content .block .btn-opt input					{display: inline-block; height: 36px; border: none; background: no-repeat; text-indent: -9999px; cursor: pointer;}
.account-content .block .btn-opt input.cancel			{width: 74px; background-image: url(../images/btn_cancel.png);}
.account-content .block .btn-opt input.save				{width: 64px; background-image: url(../images/btn_save.png);}
.account-content .block .btn-opt input:hover			{background-position: left bottom;}
/* Order History */
.account-content .box .block-history					{margin: 35px 0 20px; padding: 15px 20px 20px; position: relative;}
.account-content .block-history .date					{width: 234px; height: 48px; background: url(../images/h_bar.png) no-repeat; margin: 0; color: #fff; font-size: 13px; text-align: center; line-height: 41px; position: absolute; top: -22px; left: -40px;}
.account-content .block-history .order,
.account-content .block-history .shipping,
.account-content .block-history .billing				{float: left; display: inline; width: 170px; font-size: 11px; line-height: normal;}
.account-content .block-history .order					{}
.account-content .block-history .shipping				{}
.account-content .block-history .billing				{}
.account-content .block-history h4						{}
.account-content .block-history .charged				{display: block; margin-top: 5px; color: #000;}
.account-content .block-history .shipments				{font-size: 11px;}
.account-content .block-history .btn-details			{}
.account-content .block-history .btn-details a			{display: inline-block; width: 184px; height: 36px; background: url(../images/order_history_expanded_03.png) no-repeat; font-size: 11px; color: #415656; text-align: center; line-height: 35px;}
.account-content .block-history .btn-details a:hover	{background-position: left bottom; text-decoration: none;}
.account-content .block-history .trancate				{}
.account-content .block-history .trancate ul			{background: url(../images/border_bg_inside_block.png) repeat-x left top; list-style-type: none;}
.account-content .block-history .trancate ul li			{padding: 15px 0; background: url(../images/border_bg_inside_block.png) repeat-x left bottom; overflow: hidden;}
.account-content .block-history .trancate ul li .name	{float: left; display: inline; width: 255px; margin-right: 40px; color: #004a65; font-size: 12px; line-height: 13px;}
.account-content .block-history .trancate ul li .qty	{float: left; display: inline; width: 85px; font-size: 11px;}
.account-content .block-history .trancate ul li .price	{float: right; display: inline; font-size: 13px; color: #000;}
/* Coupon, Credit */
.account-content .box-coupon									{}
.account-content .box-coupon .block-current						{float: left; display: inline; width: 270px; margin-bottom: 30px; padding-bottom: 24px; position: relative;}
.account-content .box-coupon .block-current .coupon-bar			{width: 253px; height: 56px; background: url(../images/h_bar_taller.png) no-repeat; margin: 0; color: #fff; font-size: 12px; text-align: center; line-height: 46px; position: absolute; bottom: -25px; left: -40px; text-shadow: 0px 1px 0px #000;}
.account-content .box-coupon .block-current .coupon-bar span 	{margin-right: 8px; font-size: 21px; color: #f2b400;}
.account-content .box-coupon .invite-note						{float: left; display: inline; width: 215px; margin: 8px 0 0 40px; font-size: 11px; color: #515151; font-style: italic;}
.account-content .box-coupon .device							{width: 654px; height: 141px; margin-left: -45px; background: url(../images/coupon_invite_bg.png) no-repeat;}
.account-content .box-coupon .device img						{float: left; display: inline; margin: 21px 0 0 42px;}
.account-content .box-coupon .device .btn						{float: left; display: inline; margin: 25px 0 0 50px; width: 220px;}
.account-content .box-coupon .device .btn a						{width: 195px; height: 46px; background-image: url(../images/btn_invite_friends.png); margin-bottom: 10px;}
.account-content .box-coupon .device .btn small					{}
.account-content .box .block-coupon-history						{padding-bottom: 10px;}
.account-content .box .block-coupon-history ul					{margin-top: 0; list-style-type: none;}
.account-content .box .block-coupon-history ul li				{padding: 15px 0; background: url(../images/border_bg_inside_block.png) repeat-x left bottom; overflow: hidden;}
.account-content .box .block-coupon-history ul li .name			{float: left; display: inline; width: 180px; height: 32px; line-height: 32px; font-size: 11px; color: #004a65; text-transform: uppercase;}
.account-content .box .block-coupon-history ul li .name img		{vertical-align: middle;}
.account-content .box .block-coupon-history ul li .name:hover	{text-decoration: none;}
.account-content .box .block-coupon-history ul li .status		{float: left; display: inline; width: 255px; font-size: 10px; color: #000; line-height: 32px;}
.account-content .box .block-coupon-history ul li .date			{line-height: 32px;}
/* Preferences */
.account-content .box-pref										{}
.account-content .box-pref h3 span								{float: right; display: inline; height: 34px; line-height: 34px; margin-top: -10px; background-color: #edf2f4; padding: 0 20px; font-size: 12px; color: #00728e;}
.account-content .box-pref h3 span img							{margin-left: 5px; vertical-align: middle;}
.account-content .box-pref h4									{margin-top: 30px; color: #000;}
.account-content .box-pref .select-opt							{margin-top: -10px;}
.account-content .box-pref .select-opt a						{font-size: 10px; color: #000;}
.account-content .box-pref ul									{list-style-type: none;}
.account-content .box-pref ul li								{line-height: 25px;}
.account-content .box-pref ul li a								{}


/* FOOTER 1 ===================================== */
#footer								{clear: both;}
#footer .bar						{margin-left: -2px; height: 107px; background: url(../images/footer_bar_bg.png) no-repeat;}
#footer .bar ul						{float: left; display: inline; margin: 40px 0 0 40px;}
#footer .bar ul li					{display: inline;}
#footer .bar ul li a				{padding: 0 14px; border-left: 1px solid #0d3148; color: #0d3148; text-transform: uppercase;}
#footer .bar li:first-child a		{padding-left: 0; border: none;}
#footer .bar .invite				{float: right; display: inline; width: 240px; height: 53px; margin: 23px 22px 0 0; text-align: center; background: url(../images/invite_friends_bg.png) no-repeat;}
#footer .bar .invite a				{display: inline-block; height: 19px; margin-top: 18px; padding-right: 30px; background: url(../images/invite_friends_icon.png) no-repeat right center; color: #035776; text-transform: uppercase;}
#footer .text						{font-size: 11px; line-height: 15px; color: #b4b4b4; overflow: hidden;}
#footer .text p						{margin: 0;}
#footer .text .copyright			{float: left; display: inline; width: 190px;}
#footer .text .wine-sales			{float: right; display: inline; width: 380px;}


/* IE7 Fix */
*+html .cart-table .item .action a		{display: block;}
*+html .product-list li					{margin: 0 6px 20px 0}
*+html .product-list .details .btn a	{float: left; display: inline; margin: 0 auto;}
*+html .product-main .expires			{margin-top: 20px;}
*+html body.signup #content dl dd		{margin-left: 10px;}
