.btn {	
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 15px;
	background-color: #ffe000;
	color: #000;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #fffd3b;
}

.btn-fixed {
	min-width: 200px;
	margin: 0 auto;
}

// Buttons Styles
.btn-silver {
	@include gradient();
	border: 1px solid #eaeaea;
}

.btn-silver:hover {
	@include gradient(#f4f4f4, #fefefe, #eaeaea);
}