@import '../components/checkbox';

.login {

    &-form {
        width: 255px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;

        .form-item {
            &.form-username,
            &.form-password {
                position: relative;
                
                &:before {
                    position: absolute;
                    top: 4px;
                    left: 10px;
                    z-index: 1;
                    content: " ";
                    width: 23px;
                    height: 24px;
                    background: url($sprite) no-repeat 0 -940px;;
                }
            }

            &.form-password:before {
                width: 20px;
                height: 24px;
                background-position: 0 -1000px;
            }
        }

        .form-text {
            @extend .input-block-level;
            height: 32px;
            line-height: 32px;
            padding-left: 40px;
            font-size: 16px;
        }

        span.error {
            position: relative;
            display: block;
            margin-top: 11px;
            padding: 8px 10px;
            background-color: #750101;
            text-align: center;

            &:before {
                @include triangle(top, 10px, #750101);
                position: absolute;
                top: -10px;
                left: 50%;
                margin-left: -5px;
                content: " ";
            }
        }

        .form-actions {
            margin-bottom: 20px;
            text-align: center;
        }

        .form-submit {
            cursor: pointer;
        }
    }

    &-option {
        @extend .clearfix;
        margin-top: 50px;
        margin-bottom: 30px;

        .form-item {
            float: left;

            .option {
                
            }

            .ez-checkbox {
                
            }
        }

        .btn-forgot-password {
            float: right;
            color: #fff;
        }
    }

    &-blurb {
        margin: 0 -20px;
        text-align: center;

        a {
            color: #ffe000;
        }        
    }

}

// #login-reloader {
//     position: relative;
//     width: 108px;
//     height: 108px;
//     margin: 40px auto 150px;
//     background: url(../images/pre_loading.gif) no-repeat;

//     span {
//         position: absolute;
//         bottom: -45px;
//         display: block;
//         width: 100%;
//         font-size: 14px;
//         text-align: center;
//     }
// }