$spinner-color:			#d7721f !default;
$spinner-size:			100px !default;
$spinner-blade-width:	0.084em;
$spinner-blade-height:	0.31em;

.spinner {
	font-size: $spinner-size;
	position: relative;
	display: inline-block;
	width: 108px;
	height: 108px;
	margin-left: 3px;
}

.spinner .spinner-blade {
	position: absolute;
	left: 0.4629em;
	bottom: 0;
	width: $spinner-blade-width;
	height: $spinner-blade-height;
	border-radius: 0.5em;
	background-color: transparent;
	@include transform-origin(center -0.2222em);
	@include animation(spinner-fade 1s infinite linear);

	$animation-delay: 0s;
	$blade-rotation: 0;
	@for $i from 1 through 12 {
		&:nth-child(#{$i}) {
			@include animation-delay($animation-delay);
			@include rotate($blade-rotation);
			$blade-rotation: $blade-rotation + 30;
			$animation-delay: $animation-delay + 0.083;
		}
	}
}

@-webkit-keyframes spinner-fade {
	0% {
		background-color: $spinner-color;
	}
	100% {
		background-color: transparent;
	}
}

@keyframes spinner-fade {
	0% {
		background-color: $spinner-color;
	}
	100% {
		background-color: transparent;
	}
}


// Additional
#spinner-container {
	position: relative !important;
	width: 108px;
    height: 108px;
    margin: 40px auto 150px;

	span {
        position: absolute;
        bottom: -45px;
        display: block;
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    @include media("portrait", ">=360px", "<tablet") {
    	span {
            bottom: -60px;
        }
    }
}