.header {
    @extend .clearfix;
    height: 50px;
    background-color: $header-mini-bg;

    .container {
    	padding-top: 1px;
    }
}

@import '../components/logo';
@import '../components/navigation';
@import '../components/account';